div#payment_gateway-donate-addl-info-text {
	font-size: 90%;
	line-height: 120%;
    padding-top: 12px;
}
div#payment_gateway-donate-submessage {
	font-size: 90%;
	line-height: 120%;
}
#payment-table-donor td.label, #payment-table-comment td.label, #payment-table-cc td.label {
	white-space: nowrap;
    display: block;
    padding-right: 1em;
    text-align: right;
    width: 94px;
}
.payment-cc-form-section {
    float: none;
    margin-right: 0;
    margin-bottom: 1em;
}
#payment_gateway-personal-info {
	margin-right:0 !important;
}

#payment_gateway-donate-addl-info-secure-logos {
	float: left;
	margin-right: 2em;
}

#payment_gateway-donate-addl-info {
	margin-top:2em !important;
	margin-bottom:1em !important;
}

#appeal {
	background-color:transparent;
	border-color:transparent;
	border-style:solid;
	border-width:1px 0 1px 1px;
	padding:16px 24px 24px;
}
#appeal-head {
	font-size:1.5em;
	line-height:1.125em;
	padding-bottom:0.5em;
	padding-top:0.125em;
}
#appeal-body {
	font-size:1.125em;
	margin-bottom:1em;
	padding:0.2em 0;
}
#donate-head {
	border:none;
	font-size:1.5em;
	line-height:1.125em;
	padding-bottom:0;
	padding-top:0.125em;
}
#donate-body {
	font-size:1.125em;
	margin-bottom:1em;
}

/* Move the form up */
#mw-head-base {
	height: 1em !important;
}

/* Hiding content border */
table {
	background-color: transparent;
}
div#content {
	background-color: transparent !important;
	background-image: none !important;
}
div#mw-head-base {
	background-image: none !important;
}
#footer {
	background-image: none !important;
}

/* Hiding stuff we don't need */
h1#firstHeading, div#contentSub {
	display: none;
}

/* NEW STUFF */
ul#moreinfolinks li{
    list-style: none !important;
    list-style-image: none !important;
}
table#payment-table-donor{
    /*margin-left: 10px;*/
}

/* From Webitects */
/* Options */
.form .options-h, .form .options-v { margin: 0; }
.options-h, .options-v { list-style: none; margin: 0 0 1em 0; }
.options-h img, .options-v img { vertical-align: middle; }
.options-h li, .options-v li { background: none; margin-bottom: 0.3em; padding: 0; }
.options-h li { display: inline; line-height: 2.5; margin-right: 0.3em; white-space: nowrap; }
.options-h li select { vertical-align: middle; }
.options-h li:last-child { margin: 0; }
.form .options-v { margin-top: 5px; }
.options-v li { padding-left: 25px; text-indent: -25px; }

input:-moz-placeholder     { opacity: 1; }
input::-moz-placeholder    { opacity: 1; }
select:-moz-placeholder    { opacity: 1; }
select::-moz-placeholder   { opacity: 1; }
textarea:-moz-placeholder  { opacity: 1; }
textarea::-moz-placeholder { opacity: 1; }

#donate {
  min-width: 32em !important;
  padding: 1em !important;
}


#greenBackground {
  background-color: #e2e2e2 !important;
  position: relative !important;
  padding: 1.6em !important;
  border: 0 !important;
  width: auto !important;
}

#greenBackground:before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  left: 0%;
  top: 100px;
  border: solid transparent;
  border-color: rgba(246, 246, 246, 0);
  border-left-color: #f6f6f6;
  border-width: 15px;
  margin-top: -15px;
}

.amount_header {
  color: #505050;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1.2;
  display: block;
  text-align: center;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 1.0em!important;
  padding: 0 0 1.0em!important;
  font-weight: normal;
}

.amount_header span {
  font-size: 1.8em;
  display: block;
  color: #006699;
}

.cc_header {
  text-transform: uppercase;
  font-size: .85em;
  color: #7c7c7c;
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 0;
  font-weight: normal;
}

div.donor { width: auto !important; }
div.donor { width: 100% !important; }

#payment-table-donor input[type="text"],
#payment-table-donor input:not([type]),
#payment-table-donor input[type="email"],
#payment-table-donor select {
  background-color: #f6f6f6;
  padding: 1em !important;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2), inset 0 0 0 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2), inset 0 0 0 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.2), inset 0 0 0 1px rgba(0,0,0,.1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  color: #006699;
  cursor: pointer;
  margin-bottom: .2em;
}

#payment-table-donor input[type="text"]:hover,
#payment-table-donor input[type="email"]:hover,
#payment-table-donor select:hover {
  background: #003955;
  color: #fff;
}

#payment-table-donor input[type="text"]:focus,
#payment-table-donor input[type="email"]:focus,
#payment-table-donor select:focus {
  background: #fff;
  color: #00476b;
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,1,.5), inset 0 0 0 1px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,1,.5), inset 0 0 0 1px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 3px rgba(0,0,1,.5), inset 0 0 0 1px rgba(0,0,0,.1);
}

#payment-table-donor select { padding: .9em 1em !important; line-height: 40px; }

.mw-donate-submessage {
  text-transform: uppercase;
  font-size: .75em !important;
  color: #7c7c7c;
  text-align: center;
}

#cards {
  clear: both;
  display: block;
  margin: 0 auto; }
#cards:before,
#cards:after {
 content: "";
 display: table;
}
#cards:after { clear: both; }
#cards li {
  background: #cbcbcb;
  width: 24%;
  margin: 0 .5% !important;
  padding: 1em;
  float: left;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
#cards.enabled li:hover { background: #9f9f9f; }
#cards.enabled li:active { background: #929292; }
#cards li input {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  box-shadow: none !important;
}
#cards li label { cursor: pointer; }
#paymentContinue {
  margin-top: 1em !important;
  clear: both;
}
.btn {
  background-color: #757575 !important;
  color: #fff !important;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.3em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: .6em !important;
}
.btn.enabled {
  background-color: #367fb4 !important;
}
.btn.enabled:hover { background-color: #1d5278 !important; }
.btn:active {
  -moz-box-shadow: inset 0 1px 4px rgba(0,0,1,.5);
  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,1,.5);
  box-shadow: inset 0 1px 4px rgba(0,0,1,.5);
}
