header {
	margin-bottom: 106px;
}

.emailpreferences-form-col-content-heading,
.ru-form-col-content-heading {
	font-size: 1.125em;
	line-height: 1.25;
	margin: 0.5em 0 !important;
	font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
	font-weight: normal !important;
}

.ru-form-col-content-heading {
	font-family: 'Helvetica Neue', 'Helvetica', 'Liberation Sans', 'Arial', sans-serif;
}

.nav-logo {
	align-items: center;
	display: flex;
	height: 62px;
	order: 20;
}

.nav-logo__image {
	max-height: 32px;
	width: auto;
}

.site-header {
	background: #fff;
	min-height: 3.875em;
	position: fixed;
	top: 0;
	transition: top 0.25s ease;
	width: 100%;
	z-index: 2000;
}

.site-header__inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	position: relative;
}

.site-header__inner,
.primary-nav__drawer {
	padding: 0 2.5em;
	max-width: 66.25em;
	margin: 0 auto;
}

.primary-nav__drawer {
	border-top: 1px solid #eaecf0;
	margin-top: 4.825em;
	align-items: center;
	flex-flow: row wrap;
	padding: 0.375em 0;
}

@media ( min-width: 1024px ) {
	.primary-nav__items {
		align-items: center;
		flex-flow: row wrap;
		margin-top: 0;
		padding: 0.375em 0;
	}

	.primary-nav__drawer ul {
		margin: 0;
	}
}

.primary-nav__items {
	align-items: center;
	flex-flow: column nowrap;
}

.primary-nav__drawer ul {
	align-items: center;
	flex-flow: row wrap;
	padding: 0.375em 0;
}

.primary-nav__drawer li {
	display: inline-block;
	margin-right: 1.5em;
	padding: 0.375em 0;
}

.primary-nav__drawer li a {
	align-items: flex-start;
	color: #000;
	display: flex;
	flex-direction: column;
	font-size: 0.875em;
	font-weight: 500;
	justify-content: center;
}

.primary-nav__drawer li a span {
	margin: 0 -0.625em;
	padding: 0.4375em 0.625em;
}

.primary-nav__drawer li a:hover {
	text-decoration: none;
}

.primary-nav__drawer li a:hover span {
	background-color: #eeeaff;
	color: #3a25ff;
}

/* Override the sitedir-ltr input direction */
/* FIXME Do we want these? Copied from gateway.css. */
body.rtl input {
	/* @noflip */
	direction: rtl;
}

input {
	background-color: #fff;
	color: #000;
	margin: 0 !important;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	padding: 5px 8px;
	font-size: inherit;
	font-family: inherit;
	line-height: 1.42857143em;
	-webkit-appearance: none;
	box-sizing: border-box;
	height: 2.28571429em;
}

input#email {
	/* @noflip */
	direction: ltr;
}

.oo-ui-inputWidget-input {
	display: block;
	width: 100%;
}

.emailpreferences-form-col-content {
	padding-bottom: 2em;
}

.emailpreferences-form-col-content-salutation {
	margin-bottom: 2em;
}

.oo-ui-radioInputWidget.oo-ui-widget-enabled [ type='radio' ] {
	cursor: pointer;
}

.oo-ui-radioInputWidget [ type='radio' ]:checked + span,
.oo-ui-radioInputWidget [ type='radio' ]:checked:hover + span,
.oo-ui-radioInputWidget [ type='radio' ]:checked:focus:hover + span {
	border-width: 6px;
}

.oo-ui-radioInputWidget [ type='radio' ] {
	position: relative;
	max-width: none;
	width: 1.42857143em;
	height: 1.42857143em;
	margin: 0;
	opacity: 0;
	z-index: 1;
}

.oo-ui-radioInputWidget {
	display: inline-block;
	z-index: 0;
	position: relative;
	line-height: 1.42857143em;
	white-space: nowrap;
}

.oo-ui-inputWidget:last-child {
	margin-right: 0;
}

.oo-ui-radioInputWidget.oo-ui-widget-enabled [ type='radio' ]:checked + span {
	border-color: #36c;
}

.emailpreferences-form-col-frequency .oo-ui-radioInputWidget [ type='radio' ] + span,
.emailpreferences-form-col-frequency .oo-ui-iconWidget {
	top: 3px;
}

.oo-ui-radioInputWidget.oo-ui-widget-enabled [ type='radio' ] + span {
	cursor: pointer;
	transition: background-color 100ms, border-color 100ms, border-width 100ms;
}

.oo-ui-fieldLayout {
	margin-top: 0;
	padding: 4px 0;
}

.oo-ui-radioInputWidget [ type='radio' ] + span {
	background-color: #fff;
	position: absolute;
	left: 0;
	margin-top: -16px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 1.42857143em;
	height: 1.42857143em;
	border-color: #72777d;
	border-style: solid;
	border-radius: 50%;
	border-width: 0;
	border-width: 1px;
}

.oo-ui-radioInputWidget [ type='radio' ] + span::before {
	content: ' ';
	position: absolute;
	top: -4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	border: 1px solid transparent;
	border-radius: 50%;
}

.recurUpgradeForm {
	width: 100%;
}

.emailPreferencesForm .oo-ui-fieldLayout-body,
.recurUpgradeForm .oo-ui-fieldLayout-body {
	margin-bottom: 1em;
}

.emailpreferences-form-col-content-salutation-name {
	font-size: 1.375em;
	font-weight: bold;
	display: block;
}

.emailpreferences-form-col-content-salutation-email {
	font-size: 1.125em;
}

.emailpreferences-form-col-content-salutation-email-edit {
	white-space: nowrap;
	font-weight: normal;
}

.emailpreferences-form-col-content-salutation-email-edit-link {
	font-weight: bold;
	color: #3a25ff;
}

.emailpreferences-form-col-content-salutation-email-edit-link:hover {
	text-decoration: underline;
}

.emailpreferences-form-col-content-salutation-email-edit-input {
	display: none;
	font-weight: bold;
}

.emailpreferences-form-col-content-heading {
	font-size: 1.125em;
	margin-bottom: 1em;
}

.emailpreferences-form-col-content .oo-ui-fieldLayout-body {
	margin-bottom: 1em;
}

.emailpreferences-form-col-content .oo-ui-fieldLayout-header {
	margin-bottom: 0.25em;
	display: block;
}

.emailpreferences-form-col-content .oo-ui-dropdownInputWidget select {
	font-weight: bold;
	height: auto;
}

.emailPreferencesForm,
.recurUpgradeForm {
	display: inline-block;
	vertical-align: top;
}

.recurUpgradeForm input,
.recurUpgradeForm button,
.recurUpgradeForm .errorMsg,
.emailPreferencesForm input,
.emailPreferencesForm button,
.emailPreferencesForm .errorMsg {
	margin: 6px;
}

main > div {
	width: 66.25em;
}

.mw-body-content {
	font-size: 100% !important;
}

main {
	max-width: 66.25em;
	padding: 0 2.5em;
	margin: 3.785em auto;
	display: flex !important;
	justify-content: center;
	font-family: 'Helvetica Neue', 'Helvetica', 'Liberation Sans', 'Arial', sans-serif;
}

.emailPreferencesColumns {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	place-content: stretch flex-start;
}

.emailPreferencesLeftColumn {
	padding: 0 3em 0 0;
	width: 38.5%;
	height: auto;
}

.emailPreferencesLeftColumn div:first-of-type {
	margin-bottom: 1em;
}

.emailPreferencesRightColumn {
	width: 61.5%;
	border: 1px solid #eaecf0;
	padding: 1.75em 2em;
	height: auto;
}

.emailpreferences-form-col-content-salutation-email-edit {
	font-size: 1.125em;
}

. input {
	margin: 0;
}

.emailPreferencesForm select,
.recurUpgradeForm select {
	position: relative;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	max-width: 50em;
	height: 2.28571429em;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	padding-left: 12px;
	padding-right: 2.14285714em;
	font-size: inherit;
	font-family: inherit;
	font-weight: bold;
	-webkit-appearance: none;
	-moz-appearance: none;
	/* Background image added via template, so we can get the right path via Mustache */
	background-repeat: no-repeat;
	background-color: #f8f9fa;
	background-position: right 12px center;
	transition: background-color 100ms;
}

.emailPreferencesForm select option,
.recurUpgradeForm select option {
	background-color: transparent;
	font-size: inherit;
	font-family: inherit;
	height: 1.5em;
	padding: 5px 12px;
}

.emailPreferencesForm select:hover,
.recurUpgradeForm select:hover {
	color: #404244;
	background-color: #fff;
}

.emailPreferencesButton {
	text-align: center;
	margin: 2em 0 0;
}

button {
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 0.375em 0.75em;
	font-size: 1em;
	font-family: inherit;
	line-height: 1.375em;
	transition: 0.1s background;
}

button#unsubscribe,
button#continue,
button#save {
	background-color: #3a25ff;
	border: 1px solid rgba( 0, 0, 0, 0 );
	color: #fff;
}

button#cancel {
	border: 1px solid #3a25ff;
	color: #3a25ff;
	transition: 0.1s background;
}

.hide {
	display: none !important;
}

.errorMsg {
	color: #f00;
	display: inherit;
	clear: left;
}

.errorMsgHide {
	display: none;
}

/* Completely emove most MediaWiki stuff */

#mw-head-base {
	display: none;
}

#mw-page-base {
	display: none;
}

#mw-panel {
	display: none;
}

#firstHeading {
	display: none;
}

.mw-body {
	border: 0 !important;
}

#footer-icons {
	display: none;
}

body {
	background-color: #fff !important;
}

@media ( min-width: 768px ) {
	footer {
		padding: 3em 0 4em;
	}
}

footer {
	padding: 3em 1.5em;
	background: #54595d;
	color: #fff !important;
	max-width: 66.25em;
	margin: 0 auto;
}

footer .footer-legal {
	text-align: center;
}

footer a,
footer a:visited {
	color: inherit !important;
	text-decoration: underline;
	transition: 0.3s all;
}

@media ( min-width: 768px ) {
	.mw-620 {
		max-width: 38.75em;
		margin-left: auto;
		margin-right: auto;
	}
}

@media ( min-width: 768px ) and ( max-width: 1280px ) {
	footer .footer-legal p,
	footer .footer-legal .p {
		font-size: 0.85em;
	}
}

footer .footer-legal p,
footer .footer-legal .p {
	padding-bottom: 0.75em;
	line-height: 1.3;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	margin: 0;
}

.mw-footer {
	display: none;
}

.mw-body {
	margin: 0 !important;
	padding: 0 !important;
}

.recurUpgradeActionButtons {
	display: flex;
	justify-content: center;
}

.recurUpgradeHeaderText {
	font-size: 1.375em !important;
}

.recurUpgradeBodyText {
	font-size: 1.25em;
}

/* extra parent ID in selector to increase specificity and override button-specific colors */
#content .btn.disabled {
	background-color: #c8ccd1;
}
