/* Hide various interface elements */
#left-navigation {
	display: none !important;
}
#right-navigation {
	display: none !important;
}
#p-search {
	display: none !important;
}
#mw-panel div.portal {
	display: none !important;
}
body.ltr #footer #footer-places {
	display: none !important;
}

/* Form styling */
.creditcard-error-msg {
   color: #cc1100;
}

.mw-creditcard-donor {
   width: 25px;
}

.mw-donate-submessage {
/*   padding-top: 10px; */
}

#mw-donate-submit-button {
/*   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 100px;*/
}

#mw-creditcard {
	margin-bottom: 1em;
}

.payment-cc-form-section {
	float: left;
}

#payment_gateway-personal-info {
/*	margin-right: 4em;
	margin-bottom: 1em; */ /* This only seems to cause issues for RTL languages */
}

#payment_gateway-form-submit, #payment_gateway-form-submit-paypal {
	margin-top: 1.2em;
	text-align: center;
	margin-bottom: 1em;
}

#payment-table-cc td {
	text-align: left;
}

#payment-table-donor, #payment-table-cc, #payment-table-paypal {
	background-color: transparent;
}

#payment-table-donor td.label, #payment-table-comment td.label, #payment-table-cc td.label {
	text-align: right;
	display: block;
	padding-right: 1em;
	width: 94px;
}

#payment-table-comment td.check-option {
	padding-left: 3em;
}

#payment-table-donor td {
	text-align: left;
}

.button-plain {
	font-size: 1em;
	margin-bottom: 0.3em;
}

.button-navyblue {
	background-image:url("https://payments.wikimedia.org/images/0/06/Button-wavy-blue.png");
	color:#FFFFFF;
	cursor:pointer;
}

.input-button {
	background-color:transparent;
	background-repeat:no-repeat;
	border:medium none;
	font-family:helvetica,impact,sans-serif;
	font-size:1.4em;
	font-weight:bold;
	height:44px;
	margin:0;
	text-align:center;
	vertical-align:middle;
	width:204px;
}

#ca-special {
	display: none;
}

#bodyContent input[type="text"],
#bodyContent input[type="email"],
textarea {
	border: 1px solid #C0C0C0;
	padding: 3px;
}

#greenBackground {
	display: inline-block;
}

#greenBackground,
div.donor {
    padding:16px 24px;
	min-width:300px;
    background-color:#CCE7CD;
	border:1px solid #5EAC58;
}
p#informationsharing, p#monthlycancel {
    width: 318px;
    padding: 0 15px;
    line-height: 14px;
    font-size: 11px;
}

p.finePrint {
	font-size: 11px;
	white-space: normal;
}

/*
	The following should be in form css and not the gateway common css.
	Commenting out due to conflicts, but leaving so that if it does break something,
	it can easily be re-enabled. -pgehres 2011-12-19
*/
/*
input#fname { width: 110px; margin-right: 4px; }
input#lname { width: 132px; }
input.fullwidth { width: 254px; }
*/

/* Form Inputs */
/* Override the sitedir-ltr input direction */
body.rtl input {
	/* @noflip */
	direction: rtl;
}
input#email {
	/* @noflip */
	direction: ltr;
}

.fullwidth { width: 100% }

.halfwidth { width: 50%; }
.halfwidth:not(:first-child) {
	margin-left: 2%;
	width: 48%;
}

.thirdwidth:first-child { width: 34%; }
.thirdwidth:not(:first-child) {
	margin-left: 2%;
	width: 31%;
}

.halfwidth, .thirdwidth {
	float: left;
}

.collapsingCity {
	display: none;
}

/* From 2014 appeal */
* {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Slurped from https://payments.wikimedia.org/index.php?title=MediaWiki:Common.css&oldid=2183 */
#mw-panel div.portal {
   display: none !important;
}
div#footer #footer-icons {
   display: none !important;
}

/*table#secureLogo {
   border: 5px solid red;
}*/


a[href^="https://"], .link-https {
 background-image: none !important;
 padding: 0 !important;
}

div#content {
 border: none;
}

/* extra-specific to take precedence */
html body #donate .errorHighlight {
    border: 2px solid red !important;
}

.errorMsg {
    color: red;
    display: inherit;
}

.errorMsgHide {
    display: none;
}

#emailSuggestion {
    display: none;
    color: #7c7c7c;
    font-size: 95%;
}

/* Respond to small viewport */
@media screen and (max-width: 981px) {
    /* Overall layout */
    div#content {
        margin: 0;
        padding: 1em;
    }
    #mw-navigation {
        display: none;
    }
    #appeal {
        display: none;
    }
    #donate {
        display: block;
    }
    div#greenBackground {
        padding: 1em;
        width: inherit;
    }
    table#payment-table-donor {
        width: 100%;
    }

    /* Form - Amount/Payment Method */
    #radiobuttons-table-header,
    td.radiobuttons-cell,
    .frequency-options,
    .payment-method-button {
        font-size: 2em;
    }

    .radiobuttons-cell {
        padding: 0.5em;
    }

    input.payment-method-button {
        padding: 1em;
    }

    /* Form - Contact/Donation Info */
    table#payment-table-donor td {
        padding: 0;
    }
    td#donate form select,
    td#donate form input {
        display: block;
        float: left;
        clear: both;
        font-size: 1.6em;
        width: 100%;
        margin:  5px 0;
        padding: 10px 3%;
    }
    td#donate form input.hidden {
        display: none;
    }

    .options-h li {
        margin-right: 1em;
    }

    p#informationsharing, ul#moreinfolinks {
        font-size: 1em;
        line-height: 1.35em;
        width: inherit;
        padding: 1em;
    }

	#cards label {
		display: inline-block;
		width: 100%;
		float: left;
	}

    ul#cards li.has_sub_text {
        padding-bottom: 0.6em;
    }

    ul#cards li.has_sub_text input {
        margin-bottom: 0.3em !important;
    }

    #cards img {
        height: 30px;
        margin: 10px auto;
    }

    /* -- iDEAL -- */
    #billing-content .name-fields span {
        margin: 0;
        width: 100%;
    }
    #billing-content select,
    #billing-content input.txt,
    #billing-content input.btn {
        font-size: 1.2em;
        margin: 5px 0 !important;
        padding: 10px;
    }
    #donate, #donate-content {
        width: inherit;
    }
    /* -- end iDEAL -- */

}
