/*
 * Wikimedia - Fundraising Products Design System
 * Last updated on: 2026-08-06T14:46:37.393Z
 */

/* . . . . . . . . . . . . . . . . . .
*
*   Vector Skin Override
*
* . . . . . . . . . . . . . . . . . */

#mw-page-base,
#mw-head-base,
#mw-navigation,
#footer,
#top,
#siteNotice,
#firstHeading,
#contentSub,
#contentSub2,
#jump-to-nav,
.mw-jump-link,
.mw-indicators {
	display: none !important;
}

.mw-body {
	margin: 0 !important;
	border: 0 !important;
	background-color: transparent !important;
	padding: 0 !important;
}

.vector-body * {
	box-sizing: border-box;
}

.cdx-toggle-button,
.cdx-button {
	padding: @size-4 @size-6 !important;
}

/* . . . . . . . . . . . . . . . . . .
*
*   FRDS overrides in Vector
*
* . . . . . . . . . . . . . . . . . */
.vector-body .heading {
	border-bottom: 0;
	line-height: @font-line-height-h3;
	font-weight: normal;
}
