.pmBcard { background: url(../img/pm-gloss.png) 0 -273px no-repeat !important; }
.pmBamex { background: url(../img/pm-gloss.png) 0 0 no-repeat !important; }
.pmBdiners { background: url(../img/pm-gloss.png)  0 -455px no-repeat !important; }
.pmBdiscover { background: url(../img/pm-gloss.png) 0 -546px no-repeat !important; }
.pmBideal { background: url(../img/pm-gloss.png) 0 -637px no-repeat !important; }
.pmBjcb { background: url(../img/pm-gloss.png) 0 -728px no-repeat !important; }
.pmBmaestro { background: url(../img/pm-gloss.png) 0 -819px no-repeat !important; }
.pmBmc { background: url(../img/pm-gloss.png) 0 -910px no-repeat !important; }
.pmBunionpay { background: url(../img/pm-gloss.png) 0 -1001px no-repeat !important; }
.pmBvisa { background: url(../img/pm-gloss.png) 0 -1274px no-repeat !important; }

.idealButton[value="0021"] { background: url(../img/ideal-gloss.png) 0 -450px !important; }
.idealButton[value="0031"] { background: url(../img/ideal-gloss.png) 0 0 !important; }
.idealButton[value="0091"] { background: url(../img/ideal-gloss.png) 0 -180px !important; }
.idealButton[value="0721"] { background: url(../img/ideal-gloss.png) 0 -270px !important; }
.idealButton[value="0751"] { background: url(../img/ideal-gloss.png) 0 -630px !important; } 
.idealButton[value="0161"] { background: url(../img/ideal-gloss.png) 0 -810px !important; }
.idealButton[value="0511"] { background: url(../img/ideal-gloss.png) 0 -720px !important; }
.idealButton[value="0761"] { background: url(../img/ideal-gloss.png) 0 -90px !important; }
.idealButton[value="0771"] { background: url(../img/ideal-gloss.png) 0 -540px !important; }
.idealButton[value="0801"] { background: url(../img/ideal-gloss.png) 0 -360px !important; }