<script type="text/javascript">
	mw.loader.load('gc.form.rapidhtml.dd');
	// these must go through RapidHTML and thus are inline
	var amountErrors = ['#general|escape','#retryMsg|escape','#amount|escape'];
	var billingErrors = ['#fname|escape','#lname|escape','#street|escape','#city|escape','#country|escape','#email|escape'];
	var paymentErrors = [];
	var actionURL = "@action";
	var scriptPath = "@script_path";
</script>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody>
	<tr>
		<td id="appeal" valign="top">
			{{LanguageSwitch|2011FR/@appeal/text|@language}}
		</td>
		<td id="donate" valign="top">
			<div id="greenBackground" class="">
				@noscript
				<p id="topError" class="creditcard-error-msg"></p>

				<form name="payment" method="post" action="@action">
					<div id="payment_gateway-personal-info">
						<table id="payment-table-donor">
							<tbody>
							<tr>
								<td>
									<div id="step1header">
										<h3 class="amount_header">%donate_interface-monthlybox-amount%:  <span id="selected-amount">{% block donation-amount currency_code %}</span></h3>
									</div>
								</td>
							</tr>

							<tr>
								<td>
									<h3 class="cc_header">%donate_interface-cc-form-header-personal%<img src="@script_path/extensions/DonationInterface/gateway_forms/includes/padlock.gif" style="vertical-align:baseline;margin-left:8px;"></h3>
								</td>
							</tr>

							<tr>
								<td>
									<input class="halfwidth" name="fname" value="@fname" type="text" placeholder="%donate_interface-donor-fname%" id="fname"><input class="halfwidth" name="lname" value="@lname" type="text" placeholder="%donate_interface-donor-lname%" id="lname">
								</td>
							</tr>

							<tr>
								<td>
									<input class="fullwidth" name="street" value="@street" type="text" title="%donate_interface-donor-street%" placeholder="%donate_interface-donor-street%" id="street">
								</td>
							</tr>

							<tr>
								<td>
									<input class="fullwidth" name="city" value="@city" type="text" title="%donate_interface-donor-city%" placeholder="%donate_interface-donor-city%" id="city">
								</td>
							</tr>

							<tr>
								<td>
									<select class="txt halfwidth" id="country" name="country" value="@country" placeholder="%donate_interface-country%">
										<option value="">%donate_interface-select-country%</option>
										@select_country
									</select>
									<input name="zip" class="halfwidth" value="@zip" type="text" title="%donate_interface-donor-postal%" placeholder="%donate_interface-donor-postal%" id="zip">
								</td>
							</tr>

							<tr>
								<td>
									<input class="fullwidth" name="email" value="@email" type="text" title="%donate_interface-donor-email%" placeholder="%donate_interface-donor-email%" id="email">
								</td>
							</tr>
							<tr>
								<td>
									<hr />
								</td>
							</tr>
							{% block dd-bank-fields country %}
							<tr>
								<td>
									<hr />
									<p class="finePrint">%donate_interface-globalcollect-proxy%</p>
								</td>
							</tr>
							<tr>
								<td>
                                    <div id="bt-continue" style="margin-top: 10px;"> <input class="btn" id="bt-continueBtn" type="button" value="%donate_interface-continue%" /></div>
								</td>
							</tr>

							<tr>
								<td><span class="creditcard-error-msg"></span></td>
							</tr>
							<tr>
								<td>
									<div class="mw-donate-submessage" id="payment_gateway-donate-submessage">
										<img src="@script_path/extensions/DonationInterface/gateway_forms/includes/padlock.gif" style="vertical-align:baseline;margin-right:4px;"> %donate_interface-donate-click%
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<input type="hidden" name="returnto" value="Thank_You/en" />
					<input type="hidden" value="0" name="PaypalRedirect" id="PaypalRedirect">
					<input type="hidden" value="@amount" name="amount">
					<input type="hidden" value="@currency_code" name="currency_code" />
					<input type="hidden" value="@utm_source" name="utm_source"/>
					<input type="hidden" value="@utm_medium" name="utm_medium"/>
					<input type="hidden" value="@utm_campaign" name="utm_campaign"/>
					<input type="hidden" value="@language" name="language"/>
					<input type="hidden" value="@referrer" name="referrer"/>
					<input type="hidden" value="@wmf_token" name="wmf_token"/>
					<input type="hidden" value="@order_id"  name="order_id"/>
					<input type="hidden" value="@data_hash" name="data_hash"/>
					<input type="hidden" value="@owa_session" name="owa_session"/>
					<input type="hidden" value="@owa_ref" name="owa_ref"/>
					<input type="hidden" value="@gateway" name="gateway"/>
					<input type="hidden" value="1" name="recurring"/>
					<input type="hidden" value="dd" name="payment_method"/>
				</form>
			</div>
			<p id="informationsharing">%donate_interface-informationsharing|url%</p>
			<table>
				<tr>
					<td>
                        {% block moreinfolinks %}
					</td>
					<td>@verisign_logo</td>
				</tr>
			</table>
		</td>
	</tr>
	</tbody>
</table>
