{{> emailPreferencesHeader}}
{{#showLogin}}
	<div class="login">
		<h1>{{ l10n "donorportal-title" }}</h1>
		<p>{{ l10n "donorportal-login-text" }}</p>
		<form class="send-new-link">
			<input id="new-checksum-link-email" type="email" placeholder="{{ l10n "email" }}" required="required" /><br>
			<input type="submit" value="{{ l10n "emailpreferences-send-new-link" }}" />
		</form>
		<p class="link-sent" style="display: none;">{{ l10n "emailpreferences-new-link-sent" }}</p>
	</div>
{{/showLogin}}
{{^showLogin}}
	<div class="greeting">
		<h2>{{ l10n "donorportal-greeting" name }}</h2>
		<p><strong>{{ l10n "donorportal-boldtext" }}</strong></p>
		<p>{{ l10n "donorportal-smalltext" }}</p>
	</div>
	<div class="contact-details">
		<p>{{ l10n "donorportal-contact-details" }}</p>
		<table>
			<tr>
				<td>{{ name }}</td><td>{{ l10n "donorportal-donorid" donorID }}</td>
			</tr>
			<tr>
				<td>{{ address.street_address }}</td><td></td>
			</tr>
			<tr>
				<td>{{ address.city }}</td><td></td>
			</tr>
			<tr>
				<td>{{ address.state_province }}</td><td>{{ email }}</td>
			<tr>
				<td>{{ address.postal_code }}</td><td></td>
			</tr>
			<tr>
				<td>{{ address.country }}</td><td><a href="#" class="donorportal-update-prefs">{{ l10n "donorportal-update-preferences" }}</a></td>
			</tr>
		</table>
	</div>
	{{#hasActiveRecurring}}
	<div class="donorportal-recurring-list">
		<p>{{ l10n "donorportal-active-recurring" }}</p>
		{{#recurringContributions}}
		<div class="donorportal-recurring-contribution" data-contribution-recur-id="{{ id }}" data-frequency-unit="{{ frequency_unit }}" data-amount="{{ amount }}" data-currency="{{ currency }}" >
			<div>
				<h2>{{ l10n amount_frequency_key amount_formatted currency }}</h2>
				<p>{{ payment_method }}</p>
				<p>{{ l10n "donorportal-recurring-next-amount-and-date" amount_formatted currency next_sched_contribution_date_formatted }}</p>
			</div>
			<div>
				<button class="update-donation">{{ l10n "donorportal-update-donation-button" }}</button>
				<p>{{{ l10n "donorportal-recurring-pause-or-cancel" pause_link cancel_link }}}</p>
			</div>
		</div>
		{{/recurringContributions}}
	</div>
	{{/hasActiveRecurring}}
	{{#hasInactiveRecurring}}
		<p>{{ l10n "donorportal-inactive-recurring" }}</p>
		{{#recurringContributions}}
		<div class="donorportal-inactive-recurring" data-amount="{{ amount }}" data-currency="{{ currency }}" >
			<div>
				<h2>{{ l10n "donorportal-renew-support" }}</h2>
				<p>{{ payment_method }}</p>
				{{#hasLastContribution}}
				<p>{{ l10n "donorportal-last-amount-and-date" amount_formatted currency last_contribution_date_formatted }}</p>
				{{/hasLastContribution}}
			</div>
			<div>
				<button class="renew-donation">{{ l10n restart_key }}</button>
			</div>
		</div>
		{{/recurringContributions}}
	{{/hasInactiveRecurring}}
	{{^hasActiveRecurring}}{{^hasInactiveRecurring}}
		<p>{{ l10n "donorportal-most-recent-donation" }}</p>
		<div class="donorportal-recent-donation" data-amount="{{ last_amount }}" data-currency="{{ last_currency }}" >
			<div>
				<h2>{{ last_amount_formatted }} {{ last_currency }}</h2>
				<p>{{ last_payment_method }}</p>
				<p>{{ l10n "donorportal-last-amount-and-date" last_amount_formatted last_currency last_receive_date_formatted }}</p>
			</div>
			<div>
				<button class="new-donation">{{ l10n "donorportal-new-donation" }}</button>
			</div>
		</div>
	{{/hasInactiveRecurring}}{{/hasActiveRecurring}}
	<h2>{{ l10n "donorportal-your-donation-history"}}</h2>
	<button class="print-donation-history">{{ l10n "donorportal-print-donations" }}</button>
	<div class="tab tab-active" id="donorportal-tab-annual-fund">{{ l10n "donorportal-annual-fund" }}</div>
	<div class="tab" id="donorportal-tab-endowment">{{ l10n "donorportal-endowment" }}</div>
	<div class="tabcontent" id="donorportal-tabcontent-annual-fund">
		<table class="donation-list">
			{{> donorPortalDonationTableHeader }}
			<tbody>
			{{#annualFundContributions}}
				{{> donorPortalDonationTableRow }}
			{{/annualFundContributions}}
			</tbody>
		</table>
	</div>
	<div class="tabcontent" id="donorportal-tabcontent-endowment" style="display:none">
		{{!TODO: explanatory text when no endowment donations}}
		<table class="donation-list">
			{{> donorPortalDonationTableHeader }}
			<tbody>
			{{#endowmentContributions}}
				{{> donorPortalDonationTableRow }}
			{{/endowmentContributions}}
			</tbody>
		</table>
	</div>
	{{!TODO: 'please note' explanatory footer text}}
{{/showLogin}}
{{> emailPreferencesFooter}}
