			<thead>
				<tr>
					<td>{{ l10n "donorportal-donation-date" }}</td>
					<td>{{ l10n "donorportal-donation-type" }}</td>
					<td>{{ l10n "donorportal-donation-amount" }}</td>
					<td>{{ l10n "donorportal-payment-method" }}</td>
				</tr>
			</thead>
