<footer>
	<div class="footer-legal mw-620">
		<p>{{{ l10n "emailpreferences-footer-learn_more" }}}</p>
		<p>{{{ l10n "emailpreferences-footer-questions_email" }}}</p>
		<p>{{{ l10n "emailpreferences-footer-text_license" }}} </p>
	</div>
</footer>
