{{> emailPreferencesHeader}}
<main class="site-content">
	<div>
		<form method="POST" class="emailPreferencesForm" action="{{ action }}">
			<input type="hidden" name="token" value="{{ token }}"/>
			<input type="hidden" name="uselang" id="uselang" value="{{ uselang }}"/>
			<input type="hidden" name="checksum" value="{{checksum}}"/>
			<input type="hidden" name="contact_id" value="{{contact_id}}"/>


			<div class="emailPreferencesColumns">
				<div class="emailPreferencesLeftColumn">
					<div class="emailpreferences-form-col-content-salutation">
						<span class="emailpreferences-form-col-content-salutation-name">{{ l10n "emailpreferences-hi" }}, {{ first_name }}</span>
						<span class="emailpreferences-form-col-content-salutation-email">{{email}}</span>
						<span class="emailpreferences-form-col-content-salutation-email-edit">
					    [<a href="#" class="emailpreferences-form-col-content-salutation-email-edit-link">
							{{ l10n "emailpreferences-change-email" }}
						</a>]
						</span>
						<div class="oo-ui-fieldLayout-body emailpreferences-form-col-content-salutation-email-edit-input">
							<div class="oo-ui-fieldLayout-field">
								<input type="text" tabindex="0" aria-disabled="false" id="email" name="email" value="{{email}}" class="oo-ui-inputWidget-input"/>
							</div>
						</div>
					</div>
					<h3 class="emailpreferences-form-col-content-heading">{{ l10n "emailpreferences-title" }}</h3>
					<div class="oo-ui-fieldLayout-body">
						<label for="country">{{ l10n "emailpreferences-country" }}</label>
						<select id="country" name="country" title="{{ l10n "emailpreferences-country" }}"
								autocomplete="off"
								style="background-image: url('{{ template_path }}/down.svg');">
							{{# countries }}
								<option value="{{ code }}" {{# selected }}selected {{/ selected }}>{{ name }}</option>
							{{/ countries }}
						</select>
					</div>

					<div class="oo-ui-fieldLayout-body">
						<label for="language">{{ l10n "emailpreferences-language" }}</label>

						<select id="language" name="language" title="{{ l10n "emailpreferences-language" }}"
								autocomplete="off"
								style="background-image: url('{{ template_path }}/down.svg');">
							{{# languages }}
								<option value="{{ code }}" {{# selected }}selected {{/ selected }}>{{ name }}</option>
							{{/ languages }}
						</select>
					</div>
				</div>

				<div class="emailPreferencesRightColumn">
					<div class="oo-ui-fieldLayout">
						<span class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-radioInputWidget">
							<input type="radio" id="sendEmail" name="send_email" value="true" autocomplete="off" class="oo-ui-inputWidget-input"
								{{^ isSnoozed }}{{# sendEmail }}checked {{/ sendEmail }}{{/ isSnoozed }}>
							 <span></span>
						</span>

						<label for="sendEmail">{{ l10n "emailpreferences-send-email" }}</label>
					</div>{{# sendEmail }}

					<div class="oo-ui-fieldLayout">
							<span  class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-radioInputWidget">
						<input type="radio" id="snoozeEmail" name="send_email" value="snooze" autocomplete="off" class="oo-ui-inputWidget-input"
							{{# isSnoozed }}checked {{/ isSnoozed }}>
								<span></span>
						</span>

						<label for="snoozeEmail">{{ l10n "emailpreferences-snooze-email" snoozeDays }}</label>
					</div>{{/ sendEmail }}

					<div class="oo-ui-fieldLayout">
							<span  class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-radioInputWidget">
						<input type="radio" id="dontSendEmail" name="send_email" value="false" autocomplete="off" class="oo-ui-inputWidget-input"
							{{^ isSnoozed }}{{# dontSendEmail }}checked {{/ dontSendEmail }}{{/ isSnoozed }}>
								<span></span>
						</span>
						<label for="dontSendEmail">{{ l10n "emailpreferences-dont-send-email" }}</label>
					</div>
				</div>
			</div>

			<div class="emailPreferencesButton">
				<button type="submit" name="submit" id="save" value="save">{{ l10n "emailpreferences-save" }}</button>
			</div>
		</form>
	</div>
</main>
{{> requestNewChecksumLink }}
{{> emailPreferencesFooter}}
