<header>
	<div class="site-header">
		<div class="site-header__inner">
			<a href="https://wikimediafoundation.org" class="nav-logo">
				<img class="nav-logo__image" src="{{ template_path }}/logo-horizontal.svg"
					 alt="{{ l10n "emailpreferences-wikimedia-image-alt" }}">
			</a>
		</div>
	</div>
	<div class="primary-nav__drawer">
		<ul id="menu-header-menu" class="primary-nav__items">
			<li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a
				href="https://wikimediafoundation.org/our-work/"><span>{{ l10n
				"emailpreferences-header-link-our-work" }}</span></a></li>
			<li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a
				href="https://wikimediafoundation.org/support/"><span>{{ l10n
				"emailpreferences-header-link-support-wikipedia" }}</span></a></li>
			<li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a
				href="https://wikimediafoundation.org/research/"><span>{{ l10n
				"emailpreferences-header-link-research" }}</span></a></li>
			<li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a
				href="https://wikimediafoundation.org/advocacy/"><span>{{ l10n
				"emailpreferences-header-link-advocacy" }}</span></a></li>
			<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a
				href="https://wikimediafoundation.org/technology/"><span>{{ l10n
				"emailpreferences-header-link-technology" }}</span></a></li>
			<li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a
				href="https://wikimediafoundation.org/news/"><span>{{ l10n "emailpreferences-header-link-news" }}</span></a>
			</li>
			<li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a
				href="https://wikimediafoundation.org/participate/"><span>{{ l10n
				"emailpreferences-header-link-participate" }}</span></a></li>
			<li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a
				href="https://wikimediafoundation.org/about/"><span>{{ l10n
				"emailpreferences-header-link-about" }}</span></a></li>
		</ul>
	</div>
</header>
