{{> emailPreferencesHeader}}
<main class="site-content">
    <div>
        <h3 class="ru-form-col-content-heading">
        	{{{ l10n "donate_interface-email-optin-fail" help_email action }}}
        </h3>
    </div>
</main>
{{> emailPreferencesFooter}}
