<form method="POST" action="{{ action }}">
    <input type="hidden" name="t" value="{{ token }}" />
    <input type="hidden" name="uselang" id="uselang" value="{{ uselang }}" />
    <input type="hidden" name="contact_id" value="{{ contact_id }}" />
    <input type="hidden" name="contact_hash" value="{{contact_hash}}" />
    <input type="text" name="e" id="email" value="{{ email }}" />
    <p>{{ l10n "donate_interface-donor-opt_in_yes" }}</p>
    <p class="small">{{{ l10n "donate_interface-donor-opt_in_explain" policy_url }}}</p>

    <button type="submit" name="submit" id="continue" value="continue" >{{ l10n "donate_interface-continue" }}</button>
    <button type="submit" name="submit" id="cancel" value="cancel" >{{ l10n "donate_interface-cancel" }}</button>
</form>
