{{> optinTop_wle_001 }}
    <div class="thank-you">

        <h2>{{ l10n 'donate_interface-emailprefs-thank-you-title' }}</h2>
        <p>{{ l10n 'donate_interface-emailprefs-thank-you-text' }}</p>

    </div>
{{> optinBottom_wle_001 }}
