<figure class="photo3 cf" style="background-image: url('{{ template_path }}/wle_001_files/640px-Satchari_National_Park_Habiganj_Sylhet.jpg ');">
    <img src="{{ template_path }}/wle_001_files/640px-Satchari_National_Park_Habiganj_Sylhet.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M69594652' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Satchari_National_Park%2C_Habiganj%2C_Sylhet.jpg/640px-Satchari_National_Park%2C_Habiganj%2C_Sylhet.jpg" title="3. {{ l10n 'fundraisersubscribe-photo-caption-M69594652' }}">
        <figcaption>
            <div class="number">3</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M69594652' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'Abdul Momin' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo4 cf" style="background-image: url('{{ template_path }}/wle_001_files/640px-_2_-_.jpg ');">
    <img src="{{ template_path }}/wle_001_files/640px-_2_-_.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M70051605' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/%D8%A7%D8%B3%D9%83%D8%B1%D8%A7%D9%85_2_-_%D8%AA%D9%85%D9%86%D8%B1%D8%A7%D8%B3%D8%AA.jpg/640px-%D8%A7%D8%B3%D9%83%D8%B1%D8%A7%D9%85_2_-_%D8%AA%D9%85%D9%86%D8%B1%D8%A7%D8%B3%D8%AA.jpg" title="4. {{ l10n 'fundraisersubscribe-photo-caption-M70051605' }}">
        <figcaption>
            <div class="number">4</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M70051605' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'Mohammed Amri' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo5 cf" style="background-image: url('{{ template_path }}/wle_001_files/640px-Hunza_-_Altit_Valley_-_Nasr_Rahman.jpg ');">
    <img src="{{ template_path }}/wle_001_files/640px-Hunza_-_Altit_Valley_-_Nasr_Rahman.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M69116544' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Hunza_-_Altit_Valley_-_Nasr_Rahman.jpg/640px-Hunza_-_Altit_Valley_-_Nasr_Rahman.jpg" title="5. {{ l10n 'fundraisersubscribe-photo-caption-M69116544' }}">
        <figcaption>
            <div class="number">5</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M69116544' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'Nasr Rahman' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo6 cf" style="background-image: url('{{ template_path }}/wle_001_files/640px-_.jpg ');">
    <img src="{{ template_path }}/wle_001_files/640px-_.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M69924253' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/%D0%91%D0%BE%D0%BB%D0%BE%D1%82%D0%BD%D1%8B%D0%B5_%D0%9A%D0%B8%D0%BF%D0%B0%D1%80%D0%B8%D1%81%D1%8B.jpg/640px-%D0%91%D0%BE%D0%BB%D0%BE%D1%82%D0%BD%D1%8B%D0%B5_%D0%9A%D0%B8%D0%BF%D0%B0%D1%80%D0%B8%D1%81%D1%8B.jpg" title="6. {{ l10n 'fundraisersubscribe-photo-caption-M69924253' }}">
        <figcaption>
            <div class="number">6</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M69924253' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'HoroshilovAleksandr' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo7 cf" style="background-image: url('{{ template_path }}/wle_001_files/640px-Por_do_Sol_em_Baixa_Grande.jpg ');">
    <img src="{{ template_path }}/wle_001_files/640px-Por_do_Sol_em_Baixa_Grande.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M70155469' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Por_do_Sol_em_Baixa_Grande.jpg/640px-Por_do_Sol_em_Baixa_Grande.jpg" title="7. {{ l10n 'fundraisersubscribe-photo-caption-M70155469' }}">
        <figcaption>
            <div class="number">7</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M70155469' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'Brunonogaki' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo8 cf" style="background-image: url('{{ template_path }}/wle_001_files/Wood_Sandpiper_Safari_Park.jpg ');">
    <img src="{{ template_path }}/wle_001_files/Wood_Sandpiper_Safari_Park.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M69591978' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/8/87/Wood_Sandpiper_Safari_Park.jpg" title="8. {{ l10n 'fundraisersubscribe-photo-caption-M69591978' }}">
        <figcaption>
            <div class="number">8</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M69591978' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'Abdul Momin' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo9 cf" style="background-image: url('{{ template_path }}/wle_001_files/640px-____.jpg ');">
    <img src="{{ template_path }}/wle_001_files/640px-____.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M69961168' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/%D0%9B%D0%B5%D0%B6%D0%BA%D0%B0_%D0%BC%D0%BE%D1%80%D0%B6%D0%B5%D0%B9_%D0%BD%D0%B0_%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2%D0%B5_%D0%9D%D0%BE%D1%80%D1%82%D0%B1%D1%80%D1%83%D0%BA.jpg/640px-%D0%9B%D0%B5%D0%B6%D0%BA%D0%B0_%D0%BC%D0%BE%D1%80%D0%B6%D0%B5%D0%B9_%D0%BD%D0%B0_%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2%D0%B5_%D0%9D%D0%BE%D1%80%D1%82%D0%B1%D1%80%D1%83%D0%BA.jpg" title="9. {{ l10n 'fundraisersubscribe-photo-caption-M69961168' }}">
        <figcaption>
            <div class="number">9</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M69961168' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'Timinilya' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo10 cf" style="background-image: url('{{ template_path }}/wle_001_files/640px-_____.jpg ');">
    <img src="{{ template_path }}/wle_001_files/640px-_____.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M69954711' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/%D0%91%D0%B5%D1%80%D0%B5%D0%B3_%D0%AD%D0%BB%D1%8C%D1%82%D0%BE%D0%BD_%D1%81_%D0%B2%D1%8B%D1%81%D0%BE%D1%82%D1%8B_%D0%BF%D1%82%D0%B8%D1%87%D1%8C%D0%B5%D0%B3%D0%BE_%D0%BF%D0%BE%D0%BB%D1%91%D1%82%D0%B0.jpg/640px-%D0%91%D0%B5%D1%80%D0%B5%D0%B3_%D0%AD%D0%BB%D1%8C%D1%82%D0%BE%D0%BD_%D1%81_%D0%B2%D1%8B%D1%81%D0%BE%D1%82%D1%8B_%D0%BF%D1%82%D0%B8%D1%87%D1%8C%D0%B5%D0%B3%D0%BE_%D0%BF%D0%BE%D0%BB%D1%91%D1%82%D0%B0.jpg" title="10. {{ l10n 'fundraisersubscribe-photo-caption-M69954711' }}">
        <figcaption>
            <div class="number">10</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M69954711' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'Medvedevphoto (Владимир Медведев)' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo11 cf" style="background-image: url('{{ template_path }}/wle_001_files/640px-Gipeto_adulto.jpg ');">
    <img src="{{ template_path }}/wle_001_files/640px-Gipeto_adulto.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M69692176' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Gipeto_adulto.jpg/640px-Gipeto_adulto.jpg" title="11. {{ l10n 'fundraisersubscribe-photo-caption-M69692176' }}">
        <figcaption>
            <div class="number">11</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M69692176' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'Luca Casale' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo12 cf" style="background-image: url('{{ template_path }}/wle_001_files/640px-Chestnut-tailed_starling_Satchari_National_Park.jpg ');">
    <img src="{{ template_path }}/wle_001_files/640px-Chestnut-tailed_starling_Satchari_National_Park.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M69595567' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Chestnut-tailed_starling%2C_Satchari_National_Park.jpg/640px-Chestnut-tailed_starling%2C_Satchari_National_Park.jpg" title="12. {{ l10n 'fundraisersubscribe-photo-caption-M69594652' }}">
        <figcaption>
            <div class="number">12</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M69595567' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'Md shahanshah bappy' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo13 cf" style="background-image: url('{{ template_path }}/wle_001_files/450px-Flamants_rose_lac_de_Tunis.jpg ');">
    <img src="{{ template_path }}/wle_001_files/450px-Flamants_rose_lac_de_Tunis.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M69609122' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flamants_rose_lac_de_Tunis.jpg/450px-Flamants_rose_lac_de_Tunis.jpg" title="13. {{ l10n 'fundraisersubscribe-photo-caption-M69609122' }}">
        <figcaption>
            <div class="number">13</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M69609122' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'El Golli Mohamed' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo14 cf" style="background-image: url('{{ template_path }}/wle_001_files/640px-Sunrise_Djanet.jpg ');">
    <img src="{{ template_path }}/wle_001_files/640px-Sunrise_Djanet.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M68822431' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Sunrise_Djanet.jpg/640px-Sunrise_Djanet.jpg" title="14. {{ l10n 'fundraisersubscribe-photo-caption-M68822431' }}">
        <figcaption>
            <div class="number">14</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M68822431' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'Chettouh Nabil' }}</em></div>
        </figcaption>
    </a>
</figure>

<figure class="photo15 cf" style="background-image: url('{{ template_path }}/wle_001_files/640px-Meteoras_monastery_2.jpg ');">
    <img src="{{ template_path }}/wle_001_files/640px-Meteoras_monastery_2.jpg" alt="{{ l10n 'fundraisersubscribe-photo-caption-M68724727' }}">
    <a class="photo" href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Meteora%60s_monastery_2.jpg/640px-Meteora%60s_monastery_2.jpg" title="15. {{ l10n 'fundraisersubscribe-photo-caption-M68724727' }}">
        <figcaption>
            <div class="number">15</div>
            <div class="caption">{{ l10n 'fundraisersubscribe-photo-caption-M68724727' }} <em>{{ l10n 'fundraisersubscribe-photo-credit' 'Stathis floros' }}</em></div>
        </figcaption>
    </a>
</figure>

</section>

<footer>{{{ l10n "donate_interface-photo-license" "https://creativecommons.org/licenses/by-sa/4.0/deed.en" }}}</footer>

<script>
    (window.RLQ=window.RLQ||[]).push(function() {
        mw.loader.using("ext.donationInterface.lightgallery").then(function() {
            $(".gallery").lightGallery({
                selector: "figure a"
            });
        });
    });
</script>
