{{> emailPreferencesHeader}}
<main class="site-content">
	<div>
		<p>{{ l10n 'donate_interface-emailpreferences-thank-you-title' }}</p>
		<p>{{ l10n 'donate_interface-emailpreferences-thank-you-text' }}</p>
	</div>
</main>
{{> emailPreferencesFooter}}
