{{> emailPreferencesHeader}}
<main class="site-content">
    <div>
        <h3 class="ru-form-col-content-heading">{{{ l10n "donate_interface-email-unsub-fail" help_email }}}</h3>
    </div>
</main>
{{> emailPreferencesFooter}}