{{> emailPreferencesHeader}}
<main class="site-content">
	<div>
		<form method="POST" class="recurUpgradeForm" action="{{ action }}" data-original-amount="{{ recur_amount }}" data-currency="{{ currency }}" data-maximum="{{ maximum }}">
			<input type="hidden" name="token" value="{{ token }}"/>
			<input type="hidden" name="uselang" id="uselang" value="{{ uselang }}"/>
			<input type="hidden" name="checksum" value="{{ checksum }}"/>
			<input type="hidden" name="contact_id" value="{{ contact_id }}"/>
			<input type="hidden" name="wmf_campaign" value="{{ campaign }}"/>
			<input type="hidden" name="wmf_medium" value="{{ medium }}"/>
			<input type="hidden" name="wmf_source" value="{{ source }}"/>

			<div class="emailPreferencesColumns">
				<div class="emailPreferencesLeftColumn">
					<div class="emailpreferences-form-col-content-salutation">
						<span class="emailpreferences-form-col-content-salutation-name">{{ l10n "emailpreferences-hi" }}, {{ full_name }}</span>
					</div>
					<div class="oo-ui-fieldLayout-body">
						<h5 class="recurUpgradeHeaderText">{{ l10n "recurupgrade-amount" }}</h5>
						<p class="recurUpgradeBodyText">{{ amountFormatter recur_amount locale currency }}</p>
					</div>

					<div class="oo-ui-fieldLayout-body">
						<h5 class="recurUpgradeHeaderText">{{ l10n "recurupgrade-next-scheduled-date" }}</h5>
						<p class="recurUpgradeBodyText">{{ dateFormatter next_sched_contribution_date }}</p>
					</div>
				</div>
				<div class="emailPreferencesRightColumn">
					<h5 class="recurUpgradeHeaderText">{{ l10n "recurupgrade-amount-ask" }}</h5>
					{{#recurringOptions}}
					<div class="oo-ui-fieldLayout">
						<span class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-radioInputWidget">
							<input type="radio" id="upgradeAmount_{{ value }}" name="upgrade_amount" value={{ value }} autocomplete="off" class="oo-ui-inputWidget-input">
							<span></span>
						</span>

						<label class="recurUpgradeBodyText" for="upgradeAmount_{{ value }}">{{ value_formatted }}</label>
					</div>
  					{{/recurringOptions}}
					<div class="oo-ui-fieldLayout">
						<span class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-radioInputWidget">
							<input type="radio" id="upgradeAmount_other" name="upgrade_amount" value="other" autocomplete="off" class="oo-ui-inputWidget-input">
							<span></span>
						</span>
						<label class="recurUpgradeBodyText" for="upgradeAmount_other">{{ l10n "donate_interface-other-amount" }}<input type="number" min="0" step="0.01" max="{{ maximum }}" id="upgradeAmount_other_input" name="upgrade_amount_other">
						</label>
					</div>
				</div>
			</div>
			<div class="recurUpgradeContent site-content">
				<div class="oo-ui-fieldLayout-body">
					<p class="recurUpgradeMessageToggle" style="display: none;">{{{ l10n "recurupgrade-upgrading-new-amount" }}}</p>
				</div>
			</div>
			<div class="recurUpgradeActionButtons">
				<div class="emailPreferencesButton">
					<button class="btn disabled" type="submit" name="submit" id="save" value="save" disabled>{{ l10n "recurupgrade-upgrade" }}</button>
				</div>
				<div class="emailPreferencesButton">
					<button type="submit" name="submit" id="cancel" value="cancel">{{ l10n "recurupgrade-upgrade-decline" }}</button>
				</div>
			</div>
		</form>
	</div>
</main>
{{> emailPreferencesFooter}}
