{{> emailPreferencesHeader}}
<link rel="stylesheet" href="{{ template_path }}/recurUpgrade_v01.css">
<main class="recurUpgradeForm">
    <section class="bg-ltyellow">
        <div class="recurUpgradeContent site-content">
            <h2>{{{ l10n "donate_interface-email-unsub-fail" help_email }}}</h2>
        </div>
    </section>
</main>
{{> emailPreferencesFooter}}
