{{> emailPreferencesHeader}}
<main class="site-content">
    <div>
        <h3 class="ru-form-col-content-heading">{{{ l10n "recurupgrade-success" new_amount_formatted next_sched_date_formatted }}}</h3>
    </div>
</main>
{{> emailPreferencesFooter}}
