{{> emailPreferencesHeader}}
<main class="site-content">
    <div>
        <h3 class="ru-form-col-content-heading">{{ l10n "recurupgrade-cancel" }}</h3>
    </div>
</main>
{{> emailPreferencesFooter}}
