<div class="link-modal-screen" style="display: none;">
    <div class="link-modal">
        <div class="link">
            <h1>{{ l10n "emailpreferences-expired-link-title" }}</h1>
            <p>{{ l10n "emailpreferences-expired-link-text" }}</p>
			<button class="send-new-link">{{ l10n "emailpreferences-send-new-link" }}</button>
			<p class="link-sent" style="display: none;">{{ l10n "emailpreferences-new-link-sent" }}</p>
        </div>
    </div>
</div>
