<form method="POST" action="{{ action }}">
    <input type="hidden" name="t" value="{{ token }}" />
    <input type="hidden" name="uselang" id="uselang" value="{{ uselang }}" />

    <p>{{{ l10n "donate_interface-email-unsub-confirm" email }}}</p>
    <p>{{{ l10n "donate_interface-email-unsub-delay" help_email }}}"</p>

    <button type="submit" name="submit" id="unsubscribe" value="continue" >{{ l10n "donate_interface-email-unsub-button" }}</button>
    <button type="submit" name="submit" id="cancel" value="cancel" >{{ l10n "donate_interface-cancel" }}</button>
</form>
