#pnlPayment {
  background-color: #e2e2e2;
  color: #333;
  font-family: sans-serif;
}

#Continue {
  background-color: #367fb4 !important;
  color: #fff !important;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.3em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: .6em !important;
  cursor: pointer;
}

#Continue:hover { background-color: #1d5278 !important; }

#Continue:active {
  -moz-box-shadow: inset 0 1px 4px rgba(0,0,1,.5);
  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,1,.5);
  box-shadow: inset 0 1px 4px rgba(0,0,1,.5);
}

fieldset {
    border: 0;
}

input[type="text"],
input[type="number"],
input:not([type]),
input[type="email"],
select {
  background-color: #f6f6f6;
  padding: 1em !important;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2), inset 0 0 0 1px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2), inset 0 0 0 1px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), inset 0 0 0 1px rgba(0, 0, 0, .1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0 !important;
  color: #006699;
  cursor: pointer;
  margin-bottom: 1em;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}

input[type="text"]:hover,
input[type="email"]:hover,
select:hover {
  background: #003955;
  color: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
  background: #fff;
  color: #00476b;
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,1,.5), inset 0 0 0 1px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,1,.5), inset 0 0 0 1px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 3px rgba(0,0,1,.5), inset 0 0 0 1px rgba(0,0,0,.1);
}

select { padding: .9em 1em !important; line-height: 40px; }

#pnldynamicdate div.payment-card-entry.evaluatedate ~ div.payment-card-entry.evaluatedate
{
    display: none;
    visibility: hidden;
}

#pnldynamicdate div.span2.alpha.omega.label-container ~ div.span2.alpha.omega.label-container
{
    display: none;
    visibility: hidden;
}

abbr
{
    display: none;
    visibility: hidden;
}
