/* Get rid of the unwanted background */
#mw-page-base {
	display: none;
}

/* Move the form up */
#mw-head-base {
	height: 1em !important;
}
.mw-donate-submessage {
	clear: both;
}

/* Hiding various things */
table {
	background-color: transparent;
}
div#content {
	background-color: transparent !important;
	background-image: none !important;
}
#footer {
	background-image: none !important;
}
h1#firstHeading, div#contentSub {
	display: none;
}

/* areas shared with other gateways */
div#payment_gateway-donate-submessage {
	font-size: 90%;
	line-height: 120%;
}
#payment_gateway-personal-info {
	margin-right:0 !important;
}

/* appeal styles */
#appeal {
	background-color:transparent;
	border-color:transparent;
	border-style:solid;
	border-width:1px 0 1px 1px;
	padding:16px 24px 24px;
}
#appeal-head {
	font-size:1.5em;
	line-height:1.125em;
	padding-bottom:0.5em;
	padding-top:0.125em;
}
#appeal-body {
	font-size:1.125em;
	margin-bottom:1em;
	padding:0.2em 0;
}
#donate-head {
	border:none;
	font-size:1.5em;
	line-height:1.125em;
	padding-bottom:0em;
	padding-top:0.125em;
}
#donate-body {
	font-size:1.125em;
	margin-bottom:1em;
}

/* Forms and form partials */
/* TODO: move common rules to shared css */
#greenBackground, div.donor{
	background-color:#CCE7CD;
	border: none;
	margin-bottom: 10px;
	padding: 15px;
	min-height: 200px;
	overflow: auto;
}
#greenBackground input[type="text"] {
	margin-bottom: 6px !important;
}
#step1header {
	padding: 1em;
}
input.invalid {
	border: 2px solid red !important;
}
.ccAreaHeader {
	width: 100%;
}
.ccAreaHeader > .row-fluid > .pull-left {
	height: 25px;
}
select#state.us,
select#state.gb,
select#state.au,
select#state.ca,
select#country {
	height: 30px;
	width: 100%;
	line-height: 170%;
	background: none;
	margin-top: .2em;
	background-color: #f5f5f5;
}
#paymentSubmitBtn {
	margin: 10px 0 10px 0;
}
#wpContainer {
	margin-top: 6em;
}
#wpContainer label {
	color: #333;
	overflow: hidden;
	margin-bottom: -5px;
	max-height: 1.6em;
}
#wpContainer h3.cc_header {
	margin-top: 0 !important;
}

.btn-specialBlue {
	background-color: #367fb4 !important;
	color: #fff !important;
}

.btn-specialGrey {
	height: 34px;
	color: #333333 !important;
    background-color: #ffffff !important;
    border-color: #cccccc !important;
    background-image: linear-gradient( #ffffff, #cccccc ) !important;
}

#ddTestOptions label {
	padding: 0 3px;
	margin: 0 7px 0 0;
	overflow: visible;
}

#ddTestCCArea {
	margin-top: 7px;
}

/* Legal text and informational links */
p#informationsharing, p#monthlycancel {
	width: 100%;
	padding: 0;
	font-size: 12px;
	text-align: left;
	line-height: 140%;
}
#wpContainer ul{
	list-style-type: none !important;
	margin:0;
}
ul#moreinfolinks li{
    list-style: none !important;
    list-style-image: none !important;
    float: left;
    clear: both;
}
#step1header{
	background-color: #dff0d8;
	height: 35px;
}

/* Error styles */
.ccError {
	display: none;
	color: red;
	font-weight: bold;
	font-size: 12px;
}
.error-box {
	margin-top: 10em !important;
}

/* From Webitects */
/* Options */
.form .options-h, .form .options-v { margin: 0; }
.options-h, .options-v { list-style: none; margin: 0 0 1em 0; }
.options-h img, .options-v img { vertical-align: middle; }
.options-h li, .options-v li { background: none; margin-bottom: 0.3em; padding: 0; }
.options-h li { display: inline; line-height: 2.5; margin-right: 0.3em; white-space: nowrap; }
.options-h li select { vertical-align: middle; }
.options-h li:last-child { margin: 0; }
.form .options-v { margin-top: 5px; }
.options-v li { padding-left: 25px; text-indent: -25px; }

/* Bootstrap tweaks */
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	padding: 0 3px 0 3px !important;
}

/* RTL kludges */
#cvc,
#accountNumber,
#expiry {
	/* @noflip */
	direction: ltr;
}

img#cvv-info {
  vertical-align: top;
  cursor: pointer;
}
#cvv-codes {
  background-color: white;
  border: 1px solid #c0c0c0;
  bottom: 100%;
  display: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 3px;
  border-radius: 4px;
}
.errorHighlight {
  border: 2px solid red !important;
}
.errorMsg {
  color: red;
  display: inherit;
}
.errorMsgHide {
  display: none;
}
