table#donation_amount {
	background-color:transparent;
	border:1px solid #AAAAAA;
	border-collapse:collapse;
	width: 600px;
}
table#donation_amount td {
	border:1px solid #AAAAAA;
}
table#donation_amount td.amount_header {
	background-color:#eef2f7;
	font-size:90%;
}
table#donation_amount td.amount_data {
	background-color:#daf2db;
}
div#payflowpro_gateway-donate-addl-info-text {
	font-size: 90%;
	line-height: 120%;
	padding-top: 12px;
}
div#payflowpro_gateway-donate-submessage {
	font-size: 90%;
	line-height: 120%;
}
#payflow-table-donor td.label, #payflow-table-comment td.label, #payflow-table-cc td.label {
	white-space: nowrap;
	display: block;
	padding-right: 1em;
	text-align: right;
	width: 94px;
}


.payflow-cc-form-section {
	float: none;
	margin-right: 0em;
	margin-bottom: 1em;
}

#payflowpro_gateway-cc_form_container {
	width: 100%;
}

#payflowpro_gateway-cc_form_form {
	width: 475px;
	float: right;
	margin-left: 2em;
	padding-left: 2em;
	border-left: 1px solid #BBBBBB;
}

#payflowpro_gateway-cc_form_letter {
	height: 100%;
}

#payflowpro_gateway-cc_form_letter p {
	font-size: 1.125em;
	margin-bottom: 1.2em;
}

#payflowpro_gateway-personal-info {
	margin-right:0 !important;
}

#payflowpro_gateway-donate-addl-info-secure-logos {
	float: left;
	margin-right: 2em;
}

#payflowpro_gateway-cc_form_letter_inside {
	padding-top: .5em;
}

#payflowpro_gateway-cc_otherways {
	padding-top: .5em;
	display: block;
}
#payflowpro_gateway-donate-addl-info {
	margin-top:2em !important;
	margin-bottom:1em !important;
}

#appeal {
	background-color:transparent;
	border-color:transparent;
	border-style:solid;
	border-width:1px 0 1px 1px;
	padding:16px 24px 24px;
}
#appeal-head {
	font-size:1.5em;
	line-height:1.125em;
	padding-bottom:0.5em;
	padding-top:0.125em;
}
#appeal-body {
	font-size:1.125em;
	margin-bottom:1em;
	padding:0.2em 0;
}
#donate {
}
#donate-head {
	border:none;
	font-size:1.5em;
	line-height:1.125em;
	padding-bottom:0em;
	padding-top:0.125em;
}
#donate-body {
	font-size:1.125em;
	margin-bottom:1em;
}

/* Move the form up */
#mw-head-base {
	height: 1em !important;
}

/* Hiding content border */
table {
	background-color: transparent;
}
div#content {
	background-color: transparent !important;
	background-image: none !important;
}
div#mw-head-base {
	background-image: none !important;
}
#footer {
	background-image: none !important;
}

/* Hiding stuff we don't need */
h1#firstHeading, div#contentSub {
	display: none;
}

/* NEW STUFF */
#greenBackground, div.donor{
	padding:16px 24px;
	width:550px;
	background-color:#CCE7CD;
	border: none;
	margin-bottom: 10px;
}
p#informationsharing, p#monthlycancel {
	width: 100%;
	padding: 0 15px;
	font-size: 12px;
	text-align: center;
	line-height: 140%;
}
#moreinfolinks {
	width: 100%;
	text-align: center;
	margin: 1em 0;
}
h3.amount_header {
	padding: 0 0 0.4em 0;
	margin-bottom: 0;
	font-weight: normal;
}

table#payflow-table-donor{
	/*margin-left: 10px;*/
}

#accountNumber {
	width: 240px;
	display: inline;
}

#cvc, #expiry {
	width: 95px;
	display: inline;
	margin-left: 2px;
}

#smCC .glyphicon-credit-card {
	font-size: 1.4em;
	margin-left: -5px;
}

#state {
	height: 27px;
}
.legalWell {
	background-color: rgba(255,255,255,0.3);
	padding: 2em;
	margin-top:1em;
}

/* Form `s */
#greenBackground input[type="text"] {
	margin-bottom:10px;
}	

.payflowpro_gateway-table-donor {

}

#city.form-control, #emailAdd.form-control {
	width: 300px;
	display: inline;
}

#zip.form-control {
	width: 160px;
	display: inline;
}

input.halfwidth {
	width: 100px;
}
input.fullwidth {
	width: 400px;
}

input.invalid {
	border: 2px solid red !important;
}

input#city.halfwidth.state {
	width:100px;
}
input#zip.halfwidth.state {
	width:94px;
	margin-left: 0;
}
select#state.us, select#state.au, select#state.ca {
	width: 160px;
	height: 30px;
	line-height: 170%;
	background: none;
	margin-top: .3em;
	background-color: #f5f5f5;
}
#donate tr{
	padding: 1em;
}


/* Specific element overrides */
.personalInfo {
	padding: 15px;
}
.formControl {
	margin-left: 0;
}
#fname, #lname {
	width: 49%;
	display: inline;
}
#street {
	width: 100%;
}
#zip, #state {
	width: 50%;
	display: inline;
}
input#zip.ja {
	width: 268px;
}
select#state.ja {
	width:100%;
}

select#state.it {
	width: auto;
}

/* From Webitects */
/* Options */
.form .options-h, .form .options-v { margin: 0; }
.options-h, .options-v { list-style: none; margin: 0 0 1em 0; }
.options-h img, .options-v img { vertical-align: middle; }
.options-h li, .options-v li { background: none; margin-bottom: 0.3em; padding: 0; }
.options-h li { display: inline; line-height: 2.5; margin-right: 0.3em; white-space: nowrap; }
.options-h li select { vertical-align: middle; }
.options-h li:last-child { margin: 0; }
.form .options-v { margin-top: 5px; }
.options-v li { padding-left: 25px; text-indent: -25px; }

