<div><div class="halfwidth">
	<label for="last_name">氏名</label>
	<input id="last_name" name="last_name" value="" type="text" title="" required="" autocomplete="billing family-name cc-family-name" maxlength="64" placeholder="姓">
	<span id="last_nameMsg" class="errorMsgHide"></span>
</div><div class="halfwidth">
	<label for="first_name">&nbsp;</label>
	<input id="first_name" name="first_name" value="" type="text" title="" required="" autocomplete="billing given-name cc-given-name" maxlength="64" placeholder="名">
	<span id="first_nameMsg" class="errorMsgHide"></span>
</div></div>
<div><div class="halfwidth">
	<label for="last_name_phonetic">フリガナ</label>
	<input id="last_name_phonetic" name="last_name_phonetic" value="" type="text" title="" required="" autocomplete="billing family-name cc-family-name" maxlength="64" placeholder="セイ">
</div><div class="halfwidth">
	<label for="first_name_phonetic">&nbsp;</label>
	<input id="first_name_phonetic" name="first_name_phonetic" value="" type="text" title="" required="" autocomplete="billing given-name cc-given-name" maxlength="64" placeholder="メイ">
</div></div>

