{{# bank_account_type_visible }}
<div class="payment_gateway-ach-hint">
	<img src="{{ script_path }}/extensions/DonationInterface/gateway_forms/includes/ach_image.png">
</div>
{{/ bank_account_type_visible }}
