<div class="error-box">
		<h2>
            {{{ l10n header_key }}}
		</h2>
        <p>
            {{# error-cc }}
                {{{ l10n "donate_interface-donate-error-try-again-html" ffname_retry otherways_url problems_email }}}
            {{/ error-cc }}
            {{# error-default }}
                {{{ l10n "donate_interface-otherways" otherways_url }}}
            {{/ error-default }}
            {{# error-noform }}
                {{{ l10n "donate_interface-error-no-form-html" otherways_url problems_email }}}
            {{/ error-noform }}
            {{# maintenance }}
                {{{ l10n "donate_interface-otherways" otherways_url }}}
            {{/ maintenance }}
        </p>
        <p>
            {{ l10n "donate_interface-donate-error-thank-you-for-your-support" }}
        </p>
        <p>{{# order_id }}{{! Use the full order id as reference if we have one }}
            {{ l10n "donate_interface-error-reference" . }}
        {{/order_id}}{{^ order_id }}{{! Otherwise fall back to contribution tracking ID }}
            {{ l10n "donate_interface-error-reference" contribution_tracking_id }}
        {{/order_id}}
        </p>
</div>
