img.submethod-logo {
	max-width: 100%;
}
div#payment_gateway-donate-submessage {
	line-height: 120%;
}
div#payment_gateway-donate-submessage img {
    vertical-align:baseline;
    margin-right:4px;
}

#payment_gateway-personal-info {
	margin-right: 0;
}

#appeal {
	background-color: transparent;
	border: 0;
	padding: 16px 24px 24px;
}
#appeal-head {
	font-size: 1.5em;
	line-height: 1.125em;
	padding-bottom: 0.5em;
	padding-top: 0.125em;
}
#appeal-body {
	font-size: 1.125em;
	margin-bottom: 1em;
	padding: 0.2em 0;
}
#donate-head {
	border:none;
	font-size:1.5em;
	line-height:1.125em;
	padding-bottom:0;
	padding-top:0.125em;
}
#donate-body {
	font-size:1.125em;
	margin-bottom:1em;
}

/* Move the form up */
#mw-head-base {
	height: 1em !important;
}

/* Hiding content border */
table {
	background-color: transparent;
}
div#content {
	background-color: transparent;
	background-image: none;
}
div#mw-head-base {
	background-image: none;
}
#footer {
	background-image: none;
}

/* Hiding stuff we don't need */
h1#firstHeading, div#contentSub {
	display: none;
}

/* NEW STUFF */
ul#moreinfolinks li{
    list-style: none;
    list-style-image: none;
}
.form .options-h {
    margin: 0;
}
.options-h {
    list-style: none;
    margin: 0 0 1em 0;
}
.options-h img {
    vertical-align: middle;
}
.options-h li{
    background: none;
    margin-bottom: 0.3em;
    padding: 0;
}
.options-h li {
    display: inline;
    line-height: 2.5;
    margin-right: 0.3em;
    white-space: nowrap;
}
.options-h li select {
    vertical-align: middle;
}
.options-h li:last-child {
    margin: 0;
}
input:-moz-placeholder {
    opacity: 1;
}
input::-moz-placeholder {
    opacity: 1;
}
select:-moz-placeholder {
    opacity: 1;
}
select::-moz-placeholder {
    opacity: 1;
}
textarea:-moz-placeholder {
    opacity: 1;
}
textarea::-moz-placeholder {
    opacity: 1;
}
#donate {
  min-width: 32em;
  padding: 1em;
}

#greenBackground {
  background-color: #fff;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  position: relative;
  padding: 24px;
  width: auto;
}

.amount_header {
  color: #222;
  text-transform: capitalize;
  font-size: 1.2em;
  line-height: 1.2;
  display: block;
  text-align: center;
  border-bottom: 1px solid #cbcbcb;
  padding: 0 0 1.0em!important;
  font-weight: normal;
}

.amount_header span {
  display: block;
  color: #006699;
}

span#selected-amount {
  font-size: 1.8em;
}

.cc_header {
  text-transform: capitalize;
  font-size: .85em;
  color: #222;
  text-align: center;
  margin-bottom: .5em !important;
  padding-bottom: 0;
}
.cc_header img {
  vertical-align: baseline;
  margin-left: 8px;
}

div.donor { width: auto; }
div.donor { width: 100%; }

#payment-table-donor input[type="text"],
#payment-table-donor input[type="email"],
#payment-table-donor input[type="number"],
#payment-table-donor input:not([type]),
#payment-table-donor select {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #a2a9b1;
  color: #000;
  font-family: inherit;
  font-size: 13px;
  padding: .8em;
  cursor: pointer;
  margin-bottom: .2em;
  -webkit-transition: border-color 200ms cubic-bezier(0.4, 0.55, 0.55, 1), box-shadow 200ms cubic-bezier(0.4, 0.55, 0.55, 1);
  -moz-transition:    border-color 200ms cubic-bezier(0.4, 0.55, 0.55, 1), box-shadow 200ms cubic-bezier(0.4, 0.55, 0.55, 1);
  transition:         border-color 200ms cubic-bezier(0.4, 0.55, 0.55, 1), box-shadow 200ms cubic-bezier(0.4, 0.55, 0.55, 1);
}

#payment-table-donor select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M11.05 3.996l-.965-1.053-4.035 3.86-3.947-3.86L1.05 3.996l5 5 5-5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center right 8px;
  padding-right: 24px;
}

#payment-table-donor input[type="text"]:hover,
#payment-table-donor input[type="email"]:hover,
#payment-table-donor input[type="number"]:hover,
#payment-table-donor select:hover {
  border-color: #72777d;
}

#payment-table-donor input[type="text"]:focus,
#payment-table-donor input[type="email"]:focus,
#payment-table-donor input[type="number"]:focus,
#payment-table-donor select:focus {
  outline: 0;
  border-color: #36c;
  box-shadow: inset 0 0 0 1px #36c;
}

#amount_input * {
    vertical-align: top;
}

#topError,
p#informationsharing,
p#monthlycancel,
.errorMsg {
	max-width: 481px;
}

.mw-donate-submessage {
  text-transform: uppercase;
  font-size: 0.75em;
  color: #72777d;
  text-align: center;
}

#cards {
  clear: both;
  display: block;
  margin: 0 auto;
}
#cards:before,
#cards:after {
  content: "";
  display: table;
}
#cards:after { clear: both; }
#cards li {
    height: 100px;
    background: #f8f9fa;
    border: 1px solid #a2a9b1;
    margin: 0 .7% .7% 0;
    float: left;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: border-color 200ms cubic-bezier(0.4, 0.55, 0.55, 1), box-shadow 200ms cubic-bezier(0.4, 0.55, 0.55, 1);
    -moz-transition:    border-color 200ms cubic-bezier(0.4, 0.55, 0.55, 1), box-shadow 200ms cubic-bezier(0.4, 0.55, 0.55, 1);
    transition:         border-color 200ms cubic-bezier(0.4, 0.55, 0.55, 1), box-shadow 200ms cubic-bezier(0.4, 0.55, 0.55, 1);
}

#cards.three-per-line li {
    width: 32.63%;
}
#cards.three-per-line > li:nth-child(3),
#cards.three-per-line > li:nth-child(6) { margin-right: 0; }

#cards.four-per-line li {
    width: 24.29%;
}
#cards.four-per-line > li:nth-child(4),
#cards.four-per-line > li:nth-child(8) { margin-right: 0; }
#cards li.has_sub_text {
    padding-bottom: 0.1em;
}
#cards.enabled li:hover {
    background: #fff;
}
#cards.enabled li:active {
    background-color: #a2a9b1;
    border-color: #36c;
}
#cards li input {
    display: block;
    width: 100%;
    margin: 0;
    box-shadow: none;
    float: none;
}
#cards li label {
    cursor: pointer;
    padding: 1em;
    display: block;
}
#cards li label img {
    margin: 0.7em auto 0;
    height: auto;
}
#cards li.has_sub_text label {
    margin-top: 0;
}
#cards li.has_sub_text input {
    margin-bottom: 0.1em;
}
#cards li label p.card_sub_text {
    margin: -0.5em auto;
}
#paymentContinue, #paymentSubmit {
  margin-top: 1em;
  clear: both;
  display: none;
}
#paymentContinue.force, #paymentSubmit.force {
    display:block;
}
.btn {
  background-color: #c8ccd1;
  color: #fff;
  width: 100%;
  font-size: 1.3em;
  border-radius: 2px;
  padding: .6em;
  border: 0;
  font-family: inherit;
  -webkit-transition: background-color 100ms, color 100ms, border-color 100ms, box-shadow 100ms;
  -moz-transition: background-color 100ms, color 100ms, border-color 100ms, box-shadow 100ms;
  transition: background-color 100ms, color 100ms, border-color 100ms, box-shadow 100ms;
}
.btn.enabled {
  background-color: #36c;
  cursor: pointer;
}
.btn.enabled:hover {
  background-color: #447ff5;
}
.btn.enabled:active {
  background-color: #2a4b8d;
}
.hidden {
	display: none !important;
}
#overlay {
	z-index: 999;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba( 128, 128, 128, 0.3 );
}
#loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -26px 0 0 -28px;
}

dd.field {
    margin-bottom: 0;
    margin-left: 0;
}
div.error-box {
    margin: auto;
    width: 70%;
    border: solid black 2px;
    padding: 20px;
    text-align:center;
    font-size: 1.5em;
}
div.error-box h2 {
    color: red;
}
.close-button {
    background: rgba(0, 0, 0, 0);
    display: inline-block;
    height: 19px;
    width: 19px;
    text-align: center;
    cursor: pointer;
}

p#informationsharing,
p#monthlycancel {
    padding: 0 3px;
    line-height: inherit;
}
ul#moreinfolinks {
    margin-left: 0;
}

.opt_in_explain {
    font-size: 0.8em;
}

@media screen and (max-device-width: 981px) {
    body {
        background-color: #f5f5f5;
    }

    td#donate form input[type="text"],
    td#donate form input[type="email"],
    td#donate form input[type="number"],
    td#donate form select {
        display: block;
        font-size: 16px;
        padding: 14px;
        margin-bottom: 10px;
        -webkit-appearance: none;
    }

    td#donate form select {
        background-position: center right 14px;
        padding-right: 28px;
    }

    body #mw-content-text #donate #greenBackground {
        background: transparent;
        border: 0;
        padding: 0px;
        width: 100%;
    }
    body #donate {
        padding: 0;
        margin: 0 auto;
        min-width: 200px;
        max-width: 400px;
    }

    body #mw-page-base {
        background: transparent;
    }

    h3.cc_header img {
        display: none;
    }

    #cards li {
        position: relative;
        background: #fff;
        padding: 0;
        font-size: 13px;
        border: 1px solid #ccc;
    }
    #cards li input.cardradio {
        margin: 5px 0;
        display: block;
        width: auto;
        float: none;
        font-size: 13px;
    }
    #cards li label {
        margin: 0;
    }

    p#informationsharing {
        margin-top: 2em;
        font-size: 12px;
        width: auto;
    }
    ul#moreinfolinks {
        padding: 0;
        line-height: 2;
    }
}
