You said you wanted to donate in "{{ currency_code }}",
<br />
FOO
<br />
<label for="fiscal_number" id="fiscal_number-label">{{ l10n "donate_interface-donor-fiscal_number" }}</label>
<input class="form-control" name="fiscal_number" value="{{ fiscal_number }}" type="text" id="fiscal_number">