{{# monthly_convert }}
  <div class="mc-modal-screen" hidden>
    <div class="mc-modal"
         role="alertdialog"
         aria-modal="true"
         tabindex="-1"
         aria-labelledby="mcModalTitle"
         aria-describedby="mcModalDescription">

        <!-- Close button -->
        <button class="mc-close mc-link" aria-label="Close dialog">
            <svg class="mc-icon mc-icon-close" width="11" height="11" viewBox="0 0 11 11">
                <title>Close</title>
                <g stroke="#72777d" fill="none" fill-rule="evenodd" stroke-linecap="round">
                    <path d="M2 3l7 7M9 3l-7 7"/>
                </g>
            </svg>
        </button>

        <!-- Back button -->
        <button class="mc-back mc-link" aria-label="Go back">
            <svg class="mc-icon mc-icon-back" xmlns="http://www.w3.org/2000/svg"
                 width="20" height="16" viewBox="0 0 20 16">
                <title>Back</title>
                <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                    <path stroke="#72777D" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="1.778" d="M7.181 13.285L.753 7 7.181.715"/>
                    <rect width="18.182" height="1.778" x=".818" y="6.111" fill="#72777D" rx=".889"/>
                </g>
            </svg>
        </button>

        <!-- Choice screen -->
        <div class="mc-choice">
            <h1 id="mcModalTitle">
              {{{ l10n "donate_interface-monthly-convert-title" }}}
            </h1>
            <p id="mcModalDescription">
              {{ l10n "donate_interface-monthly-convert-text" }}
            </p>

            <div class="mc-buttons">
                <button class="mc-button mc-yes-button">
                    {{{ l10n "confirmable-yes" }}}
                </button>
                <button class="mc-button mc-no-button">
                    {{ l10n "confirmable-no" }}
                </button>
            </div><!--mc-buttons-->

            <button class="mc-link mc-diff-amount-link">
                {{ l10n "donate_interface-monthly-convert-change-amount" }}
            </button>
        </div><!--mc-choice-->

        <!-- Edit amount -->
        <div class="mc-edit-amount" hidden>
            <h1 id="mcEditTitle">
                {{ l10n "donate_interface-donate-error-thank-you-for-your-support" }}
            </h1>
            <p id="mcEditDescription">
                {{ l10n "donate_interface-monthly-convert-enter-amount" }}
            </p>

            <div class="mc-other-amount">
                <label for="mc-other-amount-input" class="visually-hidden">
                    {{ l10n "donate_interface-monthly-convert-enter-amount" }}  {{ currency }}
                </label>
                <input id="mc-other-amount-input"
                       name="otherMonthlyAmount"
                       type="text"
                       inputmode="decimal"
                       autocomplete="off"
                       value=""/>
                {{ currency }}
                <div id="mc-error-smallamount" class="mc-error" aria-live="polite">
                    {{ l10n "donate_interface-smallamount-error" }}
                </div>
            </div>

            <button class="mc-button mc-donate-monthly-button">
                {{ l10n "donate_interface-monthly-convert-action-button" }}
            </button><!--mc-buttons-->
        </div><!--mc-edit-amount-->
    </div><!--mc-modal-->
</div>

<!--Set hide cookies-->
<div id="hide-cookies" style="line-height: 1px;"></div>
{{/ monthly_convert }}
