						<ul id="moreinfolinks">
							<li><a target="_blank" href="https://wikimediafoundation.org/wiki/Special:LandingCheck?landing_page=Problems_donating&amp;basic=true&amp;country={{ country }}&amp;language={{ language }}&amp;uselang={{ language }}">{{ l10n "donate_interface-problemsdonating" }}</a></li>
							<li><a target="_blank" href="https://wikimediafoundation.org/wiki/Special:LandingCheck?basic=true&amp;landing_page=Ways_to_Give&amp;language={{ language }}&amp;uselang={{ language }}&amp;country={{ country }}">{{ l10n "donate_interface-otherways-short" }}</a></li>
							<li><a target="_blank" href="https://wikimediafoundation.org/wiki/Special:LandingCheck?basic=true&amp;landing_page=FAQ&amp;language={{ language }}&amp;uselang={{ language }}&amp;country={{ country }}">{{ l10n "donate_interface-faqs" }}</a></li>
							<li><a target="_blank" href="https://wikimediafoundation.org/wiki/Special:LandingCheck?basic=true&amp;landing_page=Tax_Deductibility&amp;language={{ language }}&amp;uselang={{ language }}&amp;country={{ country }}">{{ l10n "donate_interface-tax-info" }}</a></li>
						</ul>
