						<ul id="moreinfolinks">
							<li><a target="_blank" href="{{{ problems_url }}}">{{ l10n "donate_interface-problemsdonating" }}</a></li>
							<li><a target="_blank" href="{{{ otherways_url }}}">{{ l10n "donate_interface-otherways-short" }}</a></li>
							<li><a target="_blank" href="{{{ faq_url }}}">{{ l10n "donate_interface-faqs" }}</a></li>
							<li><a target="_blank" href="{{{ tax_url }}}">{{ l10n "donate_interface-tax-info" }}</a></li>
						</ul>
