						<tr>
							<td>
								<dl class="submethods">
									<dd class="field">
{{# show_submethods }}
										<ul class="options-h enabled {{ button_class }}" id="cards">
{{# submethods }}
                                                <li title="{{ label }}" {{# has_sub_text }}class="has_sub_text" {{/ has_sub_text}}>
                                                <input id="submethod-{{ key }}" name="payment_submethod" type="radio" value="{{ key }}" class="cardradio" />
                                                <label for="submethod-{{ key }}">
                                                    <img alt="{{ label }}" src="{{ logo }}" />
{{# has_sub_text }}
                                                    <p class="card_sub_text">{{ l10n sub_text_key }}</p>
{{/ has_sub_text }}
                                                </label>
                                            </li>
{{/ submethods }}
										</ul>
{{/ show_submethods }}
{{^ show_submethods }}
										<input class="hidden" id="submethod-{{ submethod }}" name="payment_submethod" type="radio" value="{{ submethod }}" checked />
{{/ show_submethods }}
									</dd>
								</dl>
								<div id="paymentContinue" {{^ show_submethods }}class="force"{{/ show_submethods }}> <input class="btn enabled" id="paymentContinueBtn" type="button" value="{{ l10n "donate_interface-continue" }}" /></div>
								<div id="paymentSubmit" > <input class="btn enabled" id="paymentSubmitBtn" type="button" value="{{ l10n "donate_interface-submit-button" }}" /></div>
							</td>
						</tr>
{{# is_cc }}
						<tr>
							<td>
								<div class="mw-donate-submessage" id="payment_gateway-donate-submessage">
									<img src="{{ script_path }}/extensions/DonationInterface/gateway_forms/includes/padlock.gif"> {{ l10n "donate_interface-donate-click" }}
								</div>
							</td>
						</tr>
{{/ is_cc }}
