								<dl class="submethods">
									<dd class="field">
{{# show_submethods }}
										<ul class="options-h enabled {{ button_class }}" id="cards">
{{# submethods }} {{! TODO: give every submethod a label_key, remove conditionals }}
                                                <li title="{{# label_key }}{{ l10n . }}{{/ label_key }}{{^ label_key }}{{ label }}{{/ label_key }}" {{# sub_text_key }}class="has_sub_text" {{/ sub_text_key }}>
                                                <label for="submethod-{{ key }}">
                                                    <input id="submethod-{{ key }}" name="payment_submethod" type="radio" value="{{ key }}" class="cardradio" />
                                                    <img class="submethod-logo" alt="{{# label_key }}{{ l10n . }}{{/ label_key }}{{^ label_key }}{{ label }}{{/ label_key }}" src="{{ logo }}" {{{ srcset }}}/>
{{# sub_text_key }}
                                                    <p class="card_sub_text">{{ l10n . }}</p>
{{/ sub_text_key }}
                                                </label>
                                            </li>
{{/ submethods }}
										</ul>
{{/ show_submethods }}
{{^ show_submethods }}
										<input class="hidden" id="submethod-{{ submethod }}" name="payment_submethod" type="radio" value="{{ submethod }}" checked />
{{/ show_submethods }}
{{# show_single_submethod }}
										<img class="submethod-logo" alt="{{# submethod_label_key }}{{ l10n . }}{{/ submethod_label_key }}{{^ submethod_label_key }}{{ submethod_label }}{{/ submethod_label_key }}" src="{{ submethod_logo }}" {{{ submethod_srcset }}}/>
{{/ show_single_submethod }}
									</dd>
								</dl>
{{> issuers }}
{{# show_continue }}
								<div id="paymentContinue" {{^ show_submethods }}class="force"{{/ show_submethods }}> <input class="btn enabled" id="paymentContinueBtn" type="button" value="{{ l10n "donate_interface-continue" }}" /></div>
{{/ show_continue }}
								<div id="paymentSubmit" > <input class="btn enabled" id="paymentSubmitBtn" type="button" value="{{ l10n "donate_interface-submit-button" }}" /></div>
{{# is_cc }}
								<div class="mw-donate-submessage" id="payment_gateway-donate-submessage">
									<img src="{{ script_path }}/extensions/DonationInterface/gateway_forms/includes/padlock.gif"> {{ l10n "donate_interface-donate-click" }}
								</div>
{{/ is_cc }}
