<h3 class="gross_header">{{# recurring }}{{ l10n "donate_interface-monthlybox-gross" }}{{/ recurring }}{{^ recurring }}{{ l10n "donate_interface-gross-legend" }}{{/ recurring }}:
	<span id="gross_input" {{^ show_gross_input }}class="hidden"{{/ show_gross_input }} >
		<input type="number" step="any" name="gross" id="gross" title="{{ donate_interface-gross }}" value="{{ gross }}" />
		<select name="currency" id="currency" title="{{ donate_interface-currency }}" {{^ show_currency_selector }}class="hidden"{{/ show_currency_selector }} >
		{{# currencies }}
			<option value="{{ code }}" {{# selected }}selected{{/ selected }} >{{ code }}</option>
		{{/ currencies }}
		</select>
		{{^ show_currency_selector }}
		{{ currency }}
		{{/ show_currency_selector }}
	</span>
	<span id="selected-gross" {{# show_gross_input }}class="hidden"{{/ show_gross_input }}>
		{{ display_gross }}
	</span>
</h3>
