{{# fname_required }}{{! if we don't need the fname, hide the whole name cell }}
						<tr>
							<td>
								<input class="halfwidth" name="fname" value="{{ fname }}" type="text" placeholder="{{ l10n "donate_interface-donor-fname" }}" id="fname" required><input class="halfwidth" name="lname" value="{{ lname }}" type="text" placeholder="{{ l10n "donate_interface-donor-lname" }}" id="lname" required>
							</td>
						</tr>
{{/ fname_required }}
{{# address_required }}
						<tr>
							<td>
								<input class="fullwidth" name="street" value="{{ street }}" type="text" title="{{ l10n "donate_interface-donor-street" }}" placeholder="{{ l10n "donate_interface-donor-street" }}" id="street" required>
							</td>
						</tr>
						<tr>
							<td>
								<input class="thirdwidth" name="city" value="{{ city }}" type="text" placeholder="{{ l10n "donate_interface-donor-city" }}" id="city" required>{{> state_dropdown }}<input class="thirdwidth" name="zip" value="{{ zip }}" type="text" placeholder="{{ l10n "donate_interface-donor-zip" }}" id="zip" required>
							</td>
						</tr>
{{/ address_required }}
{{# fiscal_number_required }}
						<tr>
							<td>
								<input class="fullwidth" name="fiscal_number" value="{{ fiscal_number }}" type="text" title="{{ l10n "donate_interface-donor-fiscal_number" }}" placeholder="{{ l10n "donate_interface-donor-fiscal_number" }}" id="fiscal_number" required >
							</td>
						</tr>
{{/ fiscal_number_required }}
{{# email_required }}
						<tr>
							<td>
								<input class="fullwidth" name="email" value="{{ email }}" type="email" title="{{ l10n "donate_interface-donor-email" }}" placeholder="{{ l10n "donate_interface-donor-email" }}" id="email" required>
							</td>
						</tr>
{{/ email_required }}
