{{# state_province_visible }}
								<select class="{{ address_css_class }}" name="state_province" id="state_province" title="{{ l10n "donate_interface-donor-state_province" }}" {{# state_province_required }}required {{/ state_province_required }} autocomplete="billing address-level1">
								    <option value="" {{^ state_province }}selected {{/ state_province }}>{{ l10n "donate_interface-donor-state_province" }}</option>
    {{# state_province_options }}
								    <option value="{{ abbr }}" {{# selected }}selected {{/ selected }}>{{ name }}</option>
    {{/ state_province_options }}
								</select>
{{/ state_province_visible }}
