{{# trustly_explination_visible }}
	<h4>
	{{ l10n "donate_interface-sign-in-online-banking" }}
	</h4>
	<p>
	{{ l10n "donate_interface-partner-with-trustly" }}
	</p>
	<img class="trustly-img" src="{{ script_path }}/extensions/DonationInterface/gateway_forms/includes/trustly.png">
{{/ trustly_explination_visible }}
