<script type="text/javascript">
	mw.loader.load('gc.form.rapidhtml.ew');
	// these must go through RapidHTML and thus are inline
	var amountErrors = ['#general|escape','#retryMsg|escape','#amount|escape'];
	var billingErrors = ['#fname|escape','#lname|escape','#city|escape','#country|escape','#street|escape','#state|escape','#zip|escape','#email|escape'];
	var paymentErrors = ['#card_num|escape','#card_type|escape','#cvv|escape'];
	var actionURL = "@action";
	var scriptPath = "@script_path";
</script>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody>
	<tr>
		<td id="appeal" valign="top">
			{{LanguageSwitch|2011FR/@appeal/text|@language}}
		</td>
		<td id="donate" valign="top">
			<div id="greenBackground" class="">
				@noscript
				<p id="topError" class="creditcard-error-msg"></p>

			<form name="paypalcontribution" method="post" action="@action">
				<div id="payment_gateway-personal-info">
					<table id="payment-table-donor">
						<tbody>
						<tr>
							<td>
								<div id="step1header">
									<h3 class="amount_header">%donate_interface-amount-legend%:  <span id="selected-amount">{% block donation-amount currency_code %}</span></h3>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<input class="halfwidth optional" id="fname" name="fname" title="%donate_interface-donor-fname%" value="@fname" placeholder="%donate_interface-donor-fname%"/><input class="halfwidth optional" id="lname" name="lname" title="%donate_interface-donor-lname%" value="@lname" placeholder="%donate_interface-donor-lname%"/>
							</td>
						</tr>
						{% block optional_email %}
                        <tr>
                            <td>
                                <table style="margin-top: 10px;" >
                                    <tr><td>
                                        <div id="bt-continue" style="margin-top: 7px;"> <input class="btn" id="bt-continueBtn" type="button" value="%donate_interface-continue%" /></div>
                                    </td><td>
                                        <img style="margin-left: 40px; height:60px;" src="@script_path/extensions/DonationInterface/gateway_forms/includes/yandex.png" alt="Yandex">
                                    </td></tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="payment" class="gainlayout" style="height: 0;text-align: center;"></div>
                            </td>
                        </tr>
						</tbody>
					</table>
				</div>
				<input type="hidden" name="gateway" value="globalcollect" id="gateway" />
				<input type="hidden" name="returnto" value="Thank_You/en" />
				<input type="hidden" value="0" name="PaypalRedirect" id="PaypalRedirect">
				<input type="hidden" value="@amount" name="amount">
				<input type="hidden" value="@country" name="country" id="country" />
				<input type="hidden" value="@currency_code" name="currency_code" />
				<input type="hidden" value="@utm_source" name="utm_source"/>
				<input type="hidden" value="@utm_medium" name="utm_medium"/>
				<input type="hidden" value="@utm_campaign" name="utm_campaign"/>
				<input type="hidden" value="@language" name="language"/>
				<input type="hidden" value="@referrer" name="referrer"/>
				<input type="hidden" value="@wmf_token" name="wmf_token"/>
				<input type="hidden" value="@order_id"  name="order_id"/>
				<input type="hidden" value="@data_hash" name="data_hash"/>
				<input type="hidden" value="@gateway" name="gateway"/>
				<input type="hidden" value="ew" name="payment_method"/>
                <input type="hidden" value="ew_yandex" name="payment_submethod"/>
                <!-- required fields omitted above -->
                <input type="hidden" class="optional" value="" name="street" id="street" />
                <input type="hidden" class="optional" value="" name="city" id="city" />
                <input type="hidden" class="optional" value="" name="state" id="state" />
                <input type="hidden" class="optional" value="" name="zip" id="zip" />
			</form>
			</div>
			<p id="informationsharing">%donate_interface-informationsharing|url%</p>
			<table>
				<tr>
					<td>
                        {% block moreinfolinks %}
					</td>
					<td>@verisign_logo</td>
				</tr>
			</table>
		</td>
	</tr>
	</tbody>
</table>
