.creditcard-error-msg {
   color: #cc1100;
}

.mw-creditcard-donor {
   width: 25px;
}

.mw-donate-submessage {
   padding-top: 10px;
}

#mw-donate-submit-button {
/*   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 100px;*/
}

.payflow-cc-form-section {
	float: left;
}

#payflowpro_gateway-personal-info {
	margin-right: 5em;
}

#payflowpro_gateway-form-submit {
	margin-top: 2em;
}

#payflowpro_gateway-donate-addl-info {
	margin-top:  4em;
}

#payflow-table-cc td {
	text-align: left;
}

#payflow-table-donor {
}

#payflow-table-donor label {
	text-align: left;
	display: block;
}

#payflow-table-donor td {
	text-align: left;
}

/*
#payflow-table-donor label {
	text-align: right;
	display: block;
}
*/

#payflowpro_gateway-donate-addl-info {
	clear: both;
}

.payflow-cc-form-section #payflowpro_gateway-form-submit {
	text-align: left;
}
