.payflow-cc-form-section {
        float: none;
        margin-right: 0em;
        margin-bottom: 1em;
}

#payflowpro_gateway-cc_form_container {
        width: 100%;
}

.payflowpro_gateway-cc_form_column {
}

#payflowpro_gateway-cc_form_form {
        width: 50%;
        float: right;
        margin-left: 2em;
        padding-left: 2em;
        border-left: 1px solid #BBBBBB;
}

#payflowpro_gateway-cc_form_letter {
        height: 100%;
}

#payflowpro_gateway-cc_form_letter p {
        font-size: 1em;
        margin-bottom: 1.2em;
}

#payflowpro_gateway-personal-info {
	margin-right:0 !important;
}

#payflowpro_gateway-donate-addl-info-secure-logos {
	float: left;
	margin-right: 2em;
}

#payflowpro_gateway-cc_form_letter_inside {	
	padding-top: .5em;
}

#payflowpro_gateway-cc_otherways {
	padding-top: .5em;
	display: block;
}
