<script type="text/javascript">
	mw.loader.using(
		[ 'jquery.payment' ],
		function() {
			//$( '#adyen-encrypted-form-number' ).payment( 'formatCardNumber' );
			//$( '#expiry' ).payment( 'formatCardExpiry' );
			//$( '#adyen-encrypted-form-cvc' ).payment( 'formatCardCVC' );
		}
	);

	// these must go through RapidHTML and thus are inline
	var amountErrors = ['#general|escape', '#retryMsg|escape', '#amount|escape'];
	var billingErrors = [
		'#fname|escape', '#lname|escape', '#city|escape', '#country|escape', '#street|escape',
		'#state|escape', '#zip|escape', '#email|escape'
	];
	var paymentErrors = ['#card_num|escape', '#card_type|escape', '#cvv|escape'];
	var actionURL = "@action";
	var scriptPath = "@script_path";
</script>
<div class="container" id="wpContainer">
	<div class="row-fluid">

		<div class="col-md-6" id="appeal" valign="top">
			{{LanguageSwitch|2011FR/@appeal/text|@language}}
		</div>

		<div class="col-md-6">
			<div class="row-fluid" id="donate">
				<div class="col-md-12">

					<div class="row-fluid formCol" id="greenBackground">
						@noscript
						<p id="topError" class="creditcard-error-msg"></p>

						<form name="payment" method="post" action="@wp_process_url" novalidate>
							<div id="payment_gateway_gateway-personal-info">

								<div class="row-fluid">
									<span class="personalInfo">
									{% block personal-information country %}
									{% block wp_ott_form ffname %}
									</span>
								</div>

								<div id="payment" class="row-fluid gainlayout" style="height: 0;text-align: center;"></div>

								<div class="row-fluid mw-donate-submessage" id="payment_gateway_gateway-donate-submessage">
										<img src="@script_path/extensions/DonationInterface/gateway_forms/includes/padlock.gif"
											style="vertical-align:baseline;margin-right:4px;">
										%donate_interface-donate-click%
								</div>


							</div>



							<!-- This should be included in the personal_information templates -->
							<input class="form-control" type="hidden" value="@utm_source" id="utm_source"/>
							<input class="form-control" type="hidden" value="@utm_medium" id="utm_medium"/>
							<input class="form-control" type="hidden" value="@utm_campaign" id="utm_campaign"/>
							<input class="form-control" type="hidden" value="@language" id="language"/>
							<input class="form-control" type="hidden" value="@referrer" id="referrer"/>
							<input class="form-control" type="hidden" value="1" id="email-opt"/>
							<input class="form-control" type="hidden" value="@token" id="token"/>
							<input class="form-control" type="hidden" value="@order_id" id="order_id"/>
							<input class="form-control" type="hidden" value="@contribution_tracking_id" id="contribution_tracking_id"/>
							<input class="form-control" type="hidden" value="@data_hash" id="data_hash"/>
							<input class="form-control" type="hidden" value="@owa_session" id="owa_session"/>
							<input class="form-control" type="hidden" value="@owa_ref" id="owa_ref"/>
							<input class="form-control" type="hidden" value="@gateway" id="gateway"/>
							<input class="form-control" type="hidden" value="cc" id="payment_method"/>


						</form>


					</div>

				</div>
			</div>

			<div class="row-fluid formCol">
				<div class="col-md-12">
					<p id="informationsharing">%donate_interface-informationsharing|url%</p>
				</div>
			</div>

			<div class="row-fluid formCol">
				<div class="col-md-6 pull-left">
					{% block moreinfolinks %}
				</div>
				<div class="col-md-6 formCol">
					<span class="pull-right">@verisign_logo	</span>
				</div>
			</div>



		</div>

	</div>
</div>
