<script type="text/javascript">
	mw.loader.using(
		[ 'jquery.payment' ],
		function() {
			//$( '#adyen-encrypted-form-number' ).payment( 'formatCardNumber' );
			//$( '#expiry' ).payment( 'formatCardExpiry' );
			//$( '#adyen-encrypted-form-cvc' ).payment( 'formatCardCVC' );
		}
	);

	// these must go through RapidHTML and thus are inline
	var amountErrors = ['#general|escape', '#retryMsg|escape', '#amount|escape'];
	var billingErrors = [
		'#fname|escape', '#lname|escape', '#city|escape', '#country|escape', '#street|escape',
		'#state|escape', '#zip|escape', '#emailAdd|escape'
	];
	var paymentErrors = ['#card_num|escape', '#card_type|escape', '#cvv|escape'];
	var actionURL = "@action";
	var scriptPath = "@script_path";
</script>
<div class="container">
	<div class="row-fluid">
		<div class="span3" id="appeal" valign="top">
			{{LanguageSwitch|2011FR/@appeal/text|@language}}
		</div>
		<div class="span9 pull-right">
			<div id="donate" class="row-fluid" valign="top">
				<div class="span12" id="greenBackground">
					<div class="row-fluid">
						<noscript>
							<div id="noscript">
								<p id="noscript-msg">%donate_interface-noscript-msg%</p>

								<p id="noscript-redirect-msg">%donate_interface-noscript-redirect-msg%</p>

								<p id="noscript-redirect-link">
									<a href="https://wikimediafoundation.org/wiki/Special:LandingCheck?basic=true&landing_page=DonateNonJS&language=@language&uselang=@language&country=@country">https://wikimediafoundation.org/wiki/Special:LandingCheck?basic=true&landing_page=DonateNonJS&language=@language&uselang=@language&country=@country</a>
								</p>
							</div>
						</noscript>
						<p id="topError" class="creditcard-error-msg"></p>
					</div>

					<div class="row-fluid">
						<form name="payment" method="post" action="@wp_process_url" novalidate>
							<div id="payflowpro_gateway_gateway-personal-info">
									
								<div class="personalInfo">
									<div id="step1header" class="alert alert-success">
										<h3 class="amount_header">%donate_interface-amount-legend%: <span
											id="selected-amount">{% block donation-amount currency_code %}</span></h3>
									</div>

									{% block personal-information country %}

								{% block wp_ott_form country %}
								</div>
						
								<div id="payment" class="gainlayout" style="height: 0;text-align: center;"></div>
							
								<div class="mw-donate-submessage" id="payflowpro_gateway_gateway-donate-submessage">
									<img
										src="@script_path/extensions/DonationInterface/gateway_forms/includes/padlock.gif"
										style="vertical-align:baseline;margin-right:4px;">
									%donate_interface-donate-click%
								</div>
									
								
							</div>

							<!-- This should be included in the personal_information templates -->
							<input type="hidden" value="@utm_source" id="utm_source"/>
							<input type="hidden" value="@utm_medium" id="utm_medium"/>
							<input type="hidden" value="@utm_campaign" id="utm_campaign"/>
							<input type="hidden" value="@language" id="language"/>
							<input type="hidden" value="@referrer" id="referrer"/>
							<input type="hidden" value="1" id="email-opt"/>
							<input type="hidden" value="@token" id="token"/>
							<input type="hidden" value="@order_id" id="order_id"/>
							<input type="hidden" value="@contribution_tracking_id" id="contribution_tracking_id"/>
							<input type="hidden" value="@data_hash" id="data_hash"/>
							<input type="hidden" value="@owa_session" id="owa_session"/>
							<input type="hidden" value="@owa_ref" id="owa_ref"/>
							<input type="hidden" value="@gateway" id="gateway"/>
							<input type="hidden" value="cc" id="payment_method"/>
						</form>
					</div>
				</div>
				<span class="pull-right">@verisign_logo	</span>
			</div>
		</div>	
	</div>
</div>
