<script type="text/javascript">
	mw.loader.load('gc.form.rapidhtml.rtbt');
	// these must go through RapidHTML and thus are inline
	var amountErrors = ["#general|escape",'#retryMsg|escape','#amount|escape'];
	var billingErrors = ['#fname|escape','#lname|escape','#city|escape','#country|escape','#street|escape','#state|escape','#zip|escape','#emailAdd|escape'];
	var paymentErrors = ['#card_num|escape','#card_type|escape','#cvv|escape'];
	var actionURL = "@action";
	var scriptPath = "@script_path";
</script>
<!--[if lt IE 7]>
<script type="text/javascript">
	mw.loader.load('gc.form.rapidhtml.webitects.ie6');
</script>
<style type="text/css">
	body{
		behavior: url("@script_path/skins/vector/csshover.min.htc");
	}
</style><![endif]-->
<!--[if IE 7]>
<style>
	.gainlayout {
		zoom: 1;
		height: 1%;
	}
</style>
<![endif]-->

<div class="ltr">
	<table id="layouttable">
		<tr>
			<td>
				<div id="appeal">
					<div id="appeal-content">
						<h2 id="appeal-head"> <span class="mw-headline">{{LanguageSwitch|2011FR/@appeal/title|@language}}</span></h2>
						<div id="appeal-body" class="plainlinks">{{LanguageSwitch|2011FR/@appeal/text|@language}}</div>
					</div>
				</div>
			</td>
			<td>
				<div id="donate">
					<div id="donate-content">
						<div id="donate-body" style="padding: 0 1em;">
							@noscript
							<p id="topError" class="errorMsg"></p>

							<form method="post" name="paypalcontribution">
								<div id="step1header"><h3>%donate_interface-amount-legend% <span id="selected-amount"></span> <span class="mute" id="change-amount" style="display: none;">(<a href="#">%donate_interface-change%</a>)</span></h3></div>
								<div id="step1wrapper" style="display: none;">
									<div id="amtErrorMessages" class="small"></div>
									<table id="amount-table-white">
										<tr>
											<td><label><input id="amountRadio0" type="radio" name="amountRadio" value="3" /> <span id="amountSpan0">3</span></label></td>
											<td><label><input id="amountRadio1" type="radio" name="amountRadio" value="5" /> <span id="amountSpan1">5</span></label></td>
											<td><label><input id="amountRadio2" type="radio" name="amountRadio" value="10" /> <span id="amountSpan2">10</span></label></td>
											<td><label><input id="amountRadio3" type="radio" name="amountRadio" value="20" /> <span id="amountSpan3">20</span></label></td>
										</tr>
										<tr>
											<td><label><input id="amountRadio4" type="radio" name="amountRadio" value="30" /> <span id="amountSpan4">30</span></label></td>
											<td><label><input id="amountRadio5" type="radio" name="amountRadio" value="50" /> <span id="amountSpan5">50</span></label></td>
											<td><label><input id="amountRadio6" type="radio" name="amountRadio" value="100" /> <span id="amountSpan6">100</span></label></td>
											<td><input type="radio" name="amountRadio" id="input_amount_other" value="Other" /> <label><span id="amountSpanOther"></span><input type="text" class="txt-sm hint"  name="amountGiven" size="4" id="other-amount" title="%donate_interface-other%" placeholder="%donate_interface-other%"  onfocus="this.form.input_amount_other.checked=true;"/></label></td>
										</tr>
									</table>
								</div>

								<table>
									{% block personal-information country %}
								</table>

								<table style="margin-top: 10px;" >
									<tr><td>
										<select style="margin-top: 15px;" id="issuer_id" name="issuer_id" value="@issuer_id">
											<option value="">%donate_interface-rtbt-issuer_id%...</option>
											<optgroup>
												<option value="ABNANL2A">ABN Amro</option>
												<option value="INGBNL2A">ING</option>
												<option value="RABONL2U">Rabobank</option>
												<option value="SNSBNL2A">SNS Bank</option>
											</optgroup>
											<optgroup label="%donate_interface-rtbt-issuer_id-longlist%">
												<option value="ASNBNL21">ASN Bank</option>
												<option value="FRBKNL2L">Friesland Bank</option>
												<!-- <option value="KNABNL2H">Knab</option> -->
												<option value="RBRBNL21">RegioBank</option>
												<option value="TRIONL2U">Triodos Bank</option>
												<option value="FVLBNL22">Van Lanschot Bankiers</option>
												<option value="BUNQNL2A">bunq</option>
											</optgroup>
										</select>

										<div id="bt-continue" style="margin-top: 15px;"> <input class="btn" id="bt-continueBtn" type="button" value="%donate_interface-continue%" /></div>
									</td><td>
										<img style="margin-left: 25px;" src="@script_path/extensions/DonationInterface/gateway_forms/includes/iDEAL-klein.gif" alt="IDEAL klein">
									</td></tr>
								</table>

								<input type="hidden" name="returnto" value="Thank_You/en" />
								<input type="hidden" value="0" name="PaypalRedirect" id="PaypalRedirect">
								<input type="hidden" value="@amount" name="amount" id="amount"/>
								<input type="hidden" value="EUR" name="currency_code" id="currency_code"/>
								<input type="hidden" value="@utm_source" name="utm_source"/>
								<input type="hidden" value="@utm_medium" name="utm_medium"/>
								<input type="hidden" value="@utm_campaign" name="utm_campaign"/>
								<input type="hidden" value="@language" name="language"/>
								<input type="hidden" value="@referrer" name="referrer"/>
								<input type="hidden" value="@token" name="token"/>
								<input type="hidden" value="@order_id"  name="order_id"/>
								<input type="hidden" value="@contribution_tracking_id" name="contribution_tracking_id"/>
								<input type="hidden" value="@data_hash" name="data_hash"/>
								<input type="hidden" value="@owa_session" name="owa_session"/>
								<input type="hidden" value="@owa_ref" name="owa_ref"/>
								<!-- new required fields -->
								<input type="hidden" value="@gateway" name="gateway"/>
								<!-- required fields for bt and dd -->
								<input type="hidden" value="rtbt" name="payment_method"/>
								<input type="hidden" value="rtbt_ideal" name="payment_submethod"/>
								<!-- required fields omitted above -->
								<input type="hidden" class="optional" value="" name="street" id="street" />
								<input type="hidden" class="optional" value="" name="state" id="state" />
								<input type="hidden" class="optional" value="" name="zip" id="zip" />
							</form>
						</div>
					</div>
					<p id="informationsharing">%donate_interface-informationsharing|url%</p>
					<table>
						<tr>
							<td>
                                {% block moreinfolinks %}
							</td>
							<td>@verisign_logo</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>



</div>

<!-- Wikimedia Project logo
<li id="footer-copyrightico"><a href="//wikimediafoundation.org/"><img src="//bits.wikimedia.org/images/wikimedia-button.png" width="88" height="31" alt="Wikimedia Foundation"/></a></li> 
 -->
