@import url('logo-gloss.css');

html {
	height: 100%;
	max-height: 100%;
	font-size: 13px;
	font-family: 'PT Sans',Helvetica,Arial,sans-serif;
}

body {
	background: #fff url("../img/top-background.png") top repeat-x;
	color: #333;
}

/* Main Elements */
#container {
	margin: 0 auto;
	width: 700px;
}

#logoheader {
	height: 100px;
	background: url("../img/Wmf_logo.png") left 20px no-repeat;
}

#content {
}

#pmcontent {
	margin-top: 10px;
}

#foot {
	background-color: white;
	padding: 5px;
	padding-top: 0;
}

#footc {
	margin-bottom: 0;
	padding: 0;
	height: 68px;
}

.paddiv1, .paddiv2 {
	height: 0;
}

#nextstep {
	font-weight: bold;
	height: 22px;
	color: #696969;
	font-size: 1.1em;
}

#nextstepc {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 2px;
}

.popupMsg {
	display: none;
	border: 1px solid #666;
	background-color: #eee;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 6px;
}

.popupMsgOPP {
	position: relative; 
	top: -155px; 
	margin-left: 0;
	z-index: 10;
}

/* Common HTML Elements in #content */
#content p,#content ul,#content pre {
	padding: 5px;
}

#content h2 {
	color: #696969;
	padding-top: 16px;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 36px;
}

#content h3 {
	margin-left: 5px;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#content pre {
	font-family: courier, monospace;
	font-size: 1em;
}

.pmmdetails {
	padding-left: 80px;
}

.fieldSubHeader {
	font-weight:bold;
	margin-bottom:0.5em;
	margin-top:0.5em;
}

#displayAmount {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 20px;
}

/* Table */
table.basetable {
	margin-left: 5px;
	width: 500px;
}

table.basetable td {
	padding-bottom: 0.6em;
	padding-right: 0.6em;
}

/* Order Data Layout */
table.od {
	margin: 10px 0 10px 0;
}

table.od td, table.od th  {
	padding: 5px;
	border: 1px solid #999;
}

table.od th {
	font-weight: bold;
}

/* Image Buttons (Payment Methods) */
.imgB {
	width: 158px;
	height: 32px;
	padding: 0;
	border: 0;
	background: transparent url("../img/bg_buttons.png") no-repeat left 0;
	overflow: hidden;
	color: #444;
	cursor: pointer; /* hand-shaped cursor */
	cursor: hand; /* for IE 5.x */
	font-weight: bold;
	font-size: 1.2em;
	outline: none;
}

.imgB:hover, .imgB:active {
	color: #3d892e;
}

.pmB {
	width: 400px;
	height: 42px;
	padding-left: 85px;
	text-align: left;
	margin-bottom: 6px;
	font-size: 1.1em;
	background-color: transparent !important;
}

/* Image Buttons Footer (next/previous/pay) */
#footerb1div {
	float: left;
	text-align: left;
}

#footerb2div {
	float: right;
	text-align: right;
}

.footerB, .paySubmit, div.pmOcDetail input[type="submit"] {
	background-color: #3C8A2E;
	font-size: 15px;
	padding: 6px 20px 6px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	display: inline-block;
	color: white;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border: none;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
}

.paySubmit:hover, .footerB:hover, div.pmOcDetail input[type="submit"]:hover {
	background-color: #00AA00;
}

.backB {
	background: #696969 !important;
}

/* Links */
a {
	text-decoration: none;
	color: #3d892e;
}

a:visited {
	text-decoration: none;
	color: #3d892e;
}

/* Form elements */
input,select {
	font-size: 0.95em;
	padding: 1px;
	border: 1px solid #C3C3C3;
	border-top-color: #7C7C7C;
	border-bottom-color: #DDD;
}

button:focus {
	outline: none;
}

/* Validation */
table.basetable .inputField {
	padding: 1px 2px 2px 2px;
}

table.basetable .errorField {
	border: 2px solid #f33;
	background-color: #fff3f3;
	padding: 1px 1px 1px 1px;
}

.fieldDiv {
	padding-right: 20px;
	background: transparent;
}

.errorDiv {
	background: transparent url("/hpp/img/icons/error.png") no-repeat right 3px;
	padding-right: 20px;
}

.errorFrame {
	background-color: #fff3f3;
}

/********************************************/
/*               oneclick                   */
/********************************************/
.pmOc {
	margin-bottom: 10px;
}

.pmOc div.pmOcDetail {
	background-color: #EEEEEE;
	border: 1px solid #B4B4B4;
	padding: 6px;
	display: block;
	margin-right: 8px;
	margin-bottom: 8px;
	width: 400px;
}

.pmOc div.pmOcPad {
	height: 1px;
	display: block;
	clear: both;
}

.pmOcRemove {
	float: left;
	margin-left: 10px;
}

.pmOcInput {
	background-color: #fff;
}

.pmOcRadio {
	float: left;
}

.pmOcDetailSummary {
	height: 97px; /*101px;*/
	width: 160px;
	color: white;
	clear:both;
	font-family:monospace;
	font-size: 11px;
	font-weight:bold;
	line-height:1.3;
	padding-top: 10px;
	margin:4px 0 0 4px;
}

.pmOcDetailSummaryCard {
	background-image: url(/hpp/img/card_generic.png);
	background-repeat: no-repeat;
}

.pmOcDetailSummaryElv {
	background-image: url(/hpp/img/elv_generic.png);
	background-repeat: no-repeat;
}

.pmOcLogo {
	height:22px;
	width:40px;
	background-color: white;
	margin: 0 0 11px 110px;
}

.pmOcElv {
	color: #888;
	margin-bottom: 19px;
	height:15px;
	margin-left: 10px;
	letter-spacing: 3px;
}

.pmOcPan {
	height:15px;
	padding-top: 9px;
	margin-left: 14px;
}

.pmOcExp {
	height:15px;
	font-size: 10px;
	margin-left: 105px;
}

.pmOcName {
	height:15px;
	margin-left: 14px;
	text-transform: uppercase;
}

.pmOcArrow {
	margin-left: 65px;
	height: 20px;
	background-repeat: no-repeat;
	background-image: url(/hpp/img/arrow_down.png);
}

/* old oneclick - directdebit_NL */
.pmOcDDNL, .pmOcDDNLHeader {
	color: #888;
}

.pmOcDDNLHeader {
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 1.1em;
}

.pmOcDDNL {
	margin-bottom: 5px;
	letter-spacing: 2px;
}

div.pmOcDetail .fieldDiv, div.pmOcDetail .errorDiv {
	display: inline;
}

div.pmOcDetail input {
	background-color: white;
}

div.pmOcPay {
	text-align: right;
}
/********************************************/
/********************************************/

/********************************************/
/*            new oneclick                  */
/********************************************/
.pmOcOverview {
	margin-bottom: 10px;
	display: block;
}

.pmOcOverview div.pmOcDetail {
	background-color: #EEEEEE;
	border: 1px solid #B4B4B4;
	padding: 6px;
	display: block;
	margin-right: 8px;
	margin-bottom: 8px;
	float: left;
	width: 278px;
}

.pmOcOverview div.pmOcDetailSummary {
	margin: 0;
	padding: 0;
	height: 58px;
	width: 272px;
	clear:both;
	font-size: 11px;
	font-weight:normal;
	line-height:1.3;
	cursor: pointer;
	color: black;
	font-family: tahoma, verdana, arial, sans-serif;
}

.pmOcOverview div.pmOcPad {
	height: 1px;
	display: block;
	clear: both;
}

.pmOcOverview div.pmOcLogo {
	height:22px;
	width:40px;
	background-color: white;
	margin: 0;
}

.pmOcOverview div.pmOcField1 {
	height:15px;
	padding-top: 9px;
	margin-left: 0;
}

.pmOcOverview div.pmOcField2 {
	padding-top: 0;
	height:15px;
	margin-left: 0;
}

.pmOcOverview span.pmOcFieldTitle {
	float: left;	
	width: 130px;
}

.ocRemoveDetail {
	cursor: pointer;
	position: relative;
	top: 3px;
	left: 2px;
}

.ocNewDetailsLink {
	cursor: pointer;
	text-decoration: underline;
}

.ocStoredDetails {
	font-size: 1.25em;
}

/* new oneclick - card */
.ocCardLogo {
	cursor: pointer;
}
.ocCardUpdateExpiryDateLink {
	cursor: pointer;
	text-decoration: underline;
}
.cardNumberTitle {
	width:	200px;
}

/* new oneclick - directdebit - generic */
.ocDDAccount {
	float:	left;
	padding: 4px;
}
.ocDDAccountLink {
	cursor: pointer;
	border: 1px solid #84e33c;
	margin: 3px 9px 3px 1px;
	color: #999999;
}
.ocDDAccountNoLink {
	margin: 2px 8px 2px 0;
	border: 2px solid #84e33c;
}
/********************************************/
/********************************************/

/* ivr specific css */
.ivricon {
        display: block;
        margin-right: 10px;
        float: left;
}

.ivrmessage {
        display: block;
        font-weight: bold;
}

.ivrdetail {
        display: block;
        margin-top: 5px;
        font-weight: bold;
        font-family: arial, sans-serif;
}

#phoneNumber .ivrdetail {
        color: #57A022;
        font-size: 2.4em;
}

#payCode .ivrdetail {
        color: #1F5F98;
        font-size: 2.4em;
}
#timeToCall .ivrmessage {
        font-weight: normal;
        line-height: 1.1em;
}

#timeToCall .ivrmessage .phoneDetails, #timeLeft {
        font-weight: bold;
        color:  #57A022;
        font-family: arial, sans-serif;
}

.progressW {
        width: 400px; 
        margin-left: 50px; 
        padding: 1px;
        border: 1px solid #666;
        background-color: transparent
}

.progress {
        width: 0;
        font-size: 1px;
        height: 14px;
        margin: 0;
        padding: 0;
        background-color: #66C931;
        background-image: url(/hpp/img/progress3.png);
        background-repeat: repeat-x;
}

.ebanking_FIFrame {
	width: 300px;
	float: right;
}

.ebanking_FIHeader {
    font-weight:    bold;
    margin-bottom:  5px;
    margin-top:     5px;
    color:          #1678A5;
}

.ebanking_FIText {
    padding:        5px;
}

.invoicestat {
    width: 55%;
    border: 2px solid black;
    font-family: courier, monospace;
    padding: 17px 10px 17px 61px;
}

.invoicestatPaid      { border-color: green; background-color: #efe; }  
.invoicestatUnPaid    { border-color: orange; background-color: #fff5ee; } 
.invoicestatCannotPay { border-color: red; background-color: #fee; } 

.receiptNoPrint {
	display: none;
}
.receiptPrint {
	display: none;
}

/* Number input hide buttons */
input[type='number'] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-moz-appearance: none;
	-webkit-appearance: none;
}

/* Tokenization classes */
.tokenization .tokenization-header {
	background: #ffffff;
	-webkit-box-shadow: inset 0 -10px 10px -5px #cccccc;
	-moz-box-shadow: inset 0 -10px 10px -5px #cccccc;
	box-shadow: inset 0 -10px 10px -5px #cccccc;
}

.tokenization .tokenization-header .tokenization-logo {
	background: url(../img/Wmf_logo.png) no-repeat 0 0;
}

.tokenization .tokenization-header .tokenization-logoff {
	color: #000000;
}

.tokenization .tokenization-content-container .tokenization-title {
	background: #3e8b41;
	color: #ffffff;
}

.tokenization .tokenization-button {
	background: #3e8b41;
	color: #ffffff;
}

/* Bancontact app and Bitcoin */
.hpp-bcmc_mobile-container,
.hpp-bcmc_mobile-container *,
.hpp-bitcoin-container,
.hpp-bitcoin-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.hpp-stage-header {
	margin: 30px 0;
}

#content .hpp-bcmc_mobile-title,
#content .hpp-bitcoin-title {
	float: left;
	padding: 0;
	margin: 0;
	max-width: 100%;
	line-height: 28px;
	word-break: break-all;
}

.hpp-bcmc_mobile-logo {
	float: right;
	height: 35px; 
	margin-top: -2px;
}

.hpp-bitcoin-logo {
	float: right;
	height: 25px;
}

.hpp-bcmc_mobile,
.hpp-bitcoin {
	border: 1px solid #cdcdd3;
	background: #ffffff;
}

.hpp-bcmc_mobile-app,
.hpp-bcmc_mobile-qrcode,
.hpp-bitcoin-wallet,
.hpp-bitcoin-qrcode {
	display: block;
	width: 49.5%;
}

.hpp-bcmc_mobile-app,
.hpp-bcmc_mobile-qrcode-url,
.hpp-bitcoin-wallet {
	padding: 27px;
}

.hpp-bitcoin-qrcode-url {
	padding: 34px;
}

.hpp-bcmc_mobile-app,
.hpp-bitcoin-wallet {
	float: left;
}

.hpp-bcmc_mobile-app-label,
.hpp-bcmc_mobile-app-original,
.hpp-bitcoin-wallet-label,
.hpp-bitcoin-wallet-original,
.hpp-bitcoin-wallet-btc {
	font-size: 18px;
}

.hpp-bcmc_mobile-currency {
	margin-bottom: 25px;
	text-align: center;
}

.hpp-bitcoin-currency {
	text-align: center;
}

.hpp-bcmc_mobile-currency-table,
.hpp-bitcoin-currency-table {
	display: inline-block;
}

.hpp-bcmc_mobile-app-original,
.hpp-bitcoin-wallet-original,
.hpp-bitcoin-wallet-btc {
	display: table-row;
}

.hpp-bcmc_mobile-app-original span,
.hpp-bitcoin-wallet-original span {
	padding-bottom: 5px;
}

.hpp-bcmc_mobile-app-original span,
.hpp-bitcoin-wallet-original span,
.hpp-bitcoin-wallet-btc span {
	display: table-cell;
}

.hpp-bcmc_mobile-app-original .before-digit,
.hpp-bitcoin-wallet-original .before-digit,
.hpp-bitcoin-wallet-btc .before-digit {
	text-align: right;
}

.hpp-bcmc_mobile-app-original .currency,
.hpp-bitcoin-wallet-original .currency,
.hpp-bitcoin-wallet-btc .currency {
	padding-right: 5px;
}

.hpp-bcmc_mobile-app-button,
.hpp-bcmc_mobile-qr-button,
.hpp-bcmc_mobile-timer,
.hpp-bitcoin-wallet-button,
.hpp-bitcoin-qr-button,
.hpp-bitcoin-timer {
	font-size: 16px;
	text-align: center;
}

.hpp-bcmc_mobile-app-label,
.hpp-bitcoin-wallet-label {
	margin-bottom: 25px;
	text-align: center;
}

.hpp-bcmc_mobile-app-original,
.hpp-bitcoin-wallet-original {
	font-weight: 600;
}

.hpp-bcmc_mobile-qr-how {
	font-size: 14px;
	margin: 60px 20px;
	text-align: center;
}

.hpp-bcmc_mobile-app-info,
.hpp-bcmc_mobile-qr-info {
	display: none;
	margin-left: 10px;
}

.hpp-bcmc_mobile-app-button,
.hpp-bcmc_mobile-qr-button {
	border: 1px solid #3c8a2e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	display: none;
	margin: 10px 10px 28px 10px;
	line-height: 45px;
}

.hpp-bitcoin-wallet-button,
.hpp-bitcoin-qr-button {
	border: 1px solid #3c8a2e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	margin: 22px 10px 28px 10px;
	line-height: 45px;
}

.hpp-bcmc_mobile-app-button,
.hpp-bcmc_mobile-qr-button,
.hpp-bitcoin-wallet-button {
	background: #3c8a2e;
	color: #ffffff;
}

.hpp-bcmc_mobile-app-button.inactive,
.hpp-bitcoin-wallet-button.inactive,
.hpp-bitcoin-qr-button {
	border-color: #cdcdd3;
	background: #ffffff;
	color: #333333;
}

.hpp-bcmc_mobile-timer {
	position: relative;
	display: none;
	float: left;
	margin-top: 20px;
	width: 100%;
	color: #3c8a2e;
}

.hpp-bitcoin-timer {
	position: relative;
	display: none;
	float: left;
	/*margin-top: 70px;*/
	width: 100%;
	color: #3c8a2e;
}

.hpp-bitcoin-or {
	position: relative;
	float: right;
	height: 340px;
	width: 1px;
	background: #cdcdd3;
}

.hpp-bitcoin-or-label {
	position: absolute;
	top: 50%;
	left: 0;
	border: 1px solid #cdcdd3;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	height: 35px;
	margin: -20px 0 0 -17px;
	width: 35px;
	background: #ffffff;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
}

.hpp-bcmc_mobile-qrcode,
.hpp-bitcoin-qrcode {
	float: right;
}

.hpp-bcmc_mobile-qrcode-url {
	border-left: 1px solid #cdcdd3;
	display: block;
}

.hpp-bitcoin-qrcode-url {
	border: 1px solid #f8f7f3;
	display: block;
}

.hpp-bcmc_mobile-qrcode-url,
.hpp-bcmc_mobile-qrcode-url img,
.hpp-bitcoin-qrcode-url,
.hpp-bitcoin-qrcode-url img {
	display: block;
	margin: 0 auto;
}

.hpp-bcmc_mobile-qrcode-url img,
.hpp-bitcoin-qrcode-url img {
	height: 270px;
}

.hpp-bcmc_mobile-message,
.hpp-bitcoin-message {
	display: none;
	margin-top: 15px;
	text-align: right;
}

/* Spinner */
@keyframes hpp-spinner {
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes hpp-spinner {
	to {
		-webkit-transform: rotate(360deg);
	}
}

.hpp-spinner {
	display: inline-block;
	position: relative;
	top: 7px;
	left: -7px;
	min-width: 24px;
	min-height: 24px;
}

.hpp-spinner:before {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 16px;
	margin-top: -10px;
	margin-left: -10px;
	width: 16px;
	content: '';
}

.hpp-spinner:not(:required):before {
	border-radius: 50%;
	border: 2px solid #cdcdd3;
	border-top-color: #3c8a2e;
	animation: hpp-spinner 1.2s linear infinite;
	-moz-animation: hpp-spinner 1.2s linear infinite;
	-webkit-animation: hpp-spinner 1.2s linear infinite;
	content: '';
}

/* Helpers */
.hpp-clearfix:before,
.hpp-clearfix:after {
	content: " ";
	display: table;
}

.hpp-clearfix:after {
	clear: both;
}

/* The responsive desktop/laptop version */
@media only screen and (max-width: 767px) {

	/* Default */
	html,
	body {
		min-width: 320px;
	}

	html,
	body,
	#container {
		width: 100%;
	}

	#logoheader {
		background-position: center 15px;
	}

	table.basetable,
	table.basetable td,
	.imgB {
		width: auto;
	}

	#pageform {
		padding: 10px;
	}

	table.basetable td {
		display: block;
	}

	.paySubmit {
		float: left;
	}

	/* Bancontact app and Bitcoin */
	.hpp-bcmc_mobile-title-spacer,
	.hpp-bcmc_mobile-logo,
	.hpp-bitcoin-title-spacer,
	.hpp-bitcoin-logo,
	.hpp-bitcoin-or {
		display: none;
	}
	
	.hpp-bcmc_mobile-timer,
	.hpp-bitcoin-timer {
		display: none !important;
	}

	.hpp-bcmc_mobile-title-step,
	.hpp-bcmc_mobile-title-instructions,
	.hpp-bitcoin-title-step,
	.hpp-bitcoin-title-instructions {
		display: block;
	}

	#content .hpp-bcmc_mobile-title,
	.hpp-bcmc_mobile-app,
	.hpp-bcmc_mobile-qrcode,
	#content .hpp-bitcoin-title,
	.hpp-bitcoin-wallet,
	.hpp-bitcoin-qrcode {
		float: none;
		width: 100%;
	}

	.hpp-stage-header {
		margin: 0 0 15px 0;
	}

	#content .hpp-bcmc_mobile-title,
	#content .hpp-bitcoin-title {
		font-size: 20px;
	}

	.hpp-bcmc_mobile-title-step,
	.hpp-bcmc_mobile-title-instructions,
	.hpp-bcmc_mobile-message,
	.hpp-bitcoin-title-step,
	.hpp-bitcoin-title-instructions,
	.hpp-bitcoin-message {
		text-align: center;
	}

	.hpp-bcmc_mobile-title-step,
	.hpp-bitcoin-title-step {
		margin-bottom: 5px;
	}

	.hpp-bcmc_mobile-app,
	.hpp-bitcoin-wallet {
		padding: 35px 10px 10px 10px;
	}

	.hpp-bitcoin-wallet-button {
		margin: 35px 0 0 0;
	}

	.hpp-bcmc_mobile-app-original,
	.hpp-bitcoin-wallet-original,
	.hpp-bitcoin-wallet-btc {
		font-size: 25px;
	}

	.hpp-bcmc_mobile-qr-button,
	.hpp-bitcoin-qr-button {
		display: block;
		margin: 10px 0 0 0;
	}

	.hpp-bcmc_mobile-qr-how {
		margin: 21px 7px;
	}

	.hpp-bcmc_mobile-qrcode,
	.hpp-bitcoin-qrcode {
		padding: 0 10px 10px 10px;
	}

	.hpp-bcmc_mobile-qrcode-url,
	.hpp-bitcoin-qrcode-url {
		border: 1px solid #cdcdd3;
		padding: 20px 0;
	}

	.hpp-bcmc_mobile-qrcode-url img,
	.hpp-bitcoin-qrcode-url img {
		height: 240px;
	}
}

/* The mobile version, specific for Bancontact app*/
@media only screen and (max-device-width: 767px),
only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 3) {

	/* Default */
	html,
	body {
		min-width: 320px;
	}

	html,
	body,
	#container {
		width: 100%;
	}

	#logoheader {
		background-position: center 15px;
	}

	table.basetable,
	table.basetable td,
	.imgB {
		width: auto;
	}

	#pageform {
		padding: 10px;
	}

	table.basetable td {
		display: block;
	}

	.paySubmit {
		float: left;
	}

	/* Bancontact app */
	.hpp-bcmc_mobile-title-spacer,
	.hpp-bcmc_mobile-logo {
		display: none;
	}
	
	.hpp-bcmc_mobile-timer {
		display: none !important;
	}

	.hpp-bcmc_mobile-title-step,
	.hpp-bcmc_mobile-title-instructions {
		display: block;
	}

	#content .hpp-bcmc_mobile-title,
	.hpp-bcmc_mobile-app,
	.hpp-bcmc_mobile-qrcode {
		float: none;
		width: 100%;
	}

	.hpp-stage-header {
		margin: 0 0 15px 0;
	}

	#content .hpp-bcmc_mobile-title {
		font-size: 20px;
		max-width: 100%;
	}

	.hpp-bcmc_mobile-title-step,
	.hpp-bcmc_mobile-title-instructions,
	.hpp-bcmc_mobile-message {
		text-align: center;
	}

	.hpp-bcmc_mobile-title-step {
		margin-bottom: 5px;
	}

	.hpp-bcmc_mobile-app {
		padding: 35px 10px 10px 10px;
	}

	.hpp-bcmc_mobile-app-button {
		display: block;
		margin: 10px 0 20px 0;
	}

	.hpp-bcmc_mobile-app-original {
		font-size: 25px;
	}

	.hpp-bcmc_mobile-qr-button,
	.hpp-bcmc_mobile-qr-how,
	.hpp-bcmc_mobile-qrcode {
		display: none;
	}
}

/* Now, the tablet version, specific for Bancontact app */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

	/* Default */
	html,
	body {
		min-width: 320px;
	}

	html,
	body,
	#container {
		width: 100%;
	}

	#logoheader {
		background-position: center 15px;
	}

	table.basetable,
	table.basetable td,
	.imgB {
		width: auto;
	}

	#pageform {
		padding: 10px;
	}

	table.basetable td {
		display: block;
	}

	.paySubmit {
		float: left;
	}

	/* Bancontact app */
	.hpp-bcmc_mobile-title-spacer,
	.hpp-bcmc_mobile-logo {
		display: none;
	}
	
	.hpp-bcmc_mobile-timer {
		display: none !important;
	}

	.hpp-bcmc_mobile-title-step,
	.hpp-bcmc_mobile-title-instructions {
		display: block;
	}

	#content .hpp-bcmc_mobile-title,
	.hpp-bcmc_mobile-app,
	.hpp-bcmc_mobile-qrcode {
		float: none;
		width: 100%;
	}

	.hpp-stage-header {
		margin: 0 0 15px 0;
	}

	#content .hpp-bcmc_mobile-title {
		font-size: 20px;
		max-width: 100%;
	}

	.hpp-bcmc_mobile-title-step,
	.hpp-bcmc_mobile-title-instructions,
	.hpp-bcmc_mobile-message {
		text-align: center;
	}

	.hpp-bcmc_mobile-title-step {
		margin-bottom: 5px;
	}

	.hpp-bcmc_mobile-app {
		padding: 35px 10px 10px 10px;
	}

	.hpp-bcmc_mobile-app-info,
	.hpp-bcmc_mobile-qr-info {
		display: block;
		margin: 0;
	}

	.hpp-bcmc_mobile-app-button {
		display: block;
		margin: 10px 0 20px 0;
	}

	.hpp-bcmc_mobile-app-original {
		font-size: 25px;
	}

	.hpp-bcmc_mobile-qr-button {
		display: block;
		margin: 10px 0 0 0;
	}

	.hpp-bcmc_mobile-qr-how {
		margin: 21px 7px;
	}

	.hpp-bcmc_mobile-qrcode {
		padding: 0 10px 10px 10px;
	}

	.hpp-bcmc_mobile-qrcode-url {
		border: 1px solid #cdcdd3;
		padding: 20px 0;
	}

	.hpp-bcmc_mobile-qrcode-url img {
		height: 240px;
	}
}

/* HPP new style v2 */

html {
	background-color: #f6f6f6;
	font-family: Helvetica,Arial,sans-serif;
}

body:before {
	background: #ffffff none repeat scroll 0 0;
	content: "";
	display: block;
	height: 90px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

body {
	background: none;
	color: #4d4d4f;
}

#logoheader {
	position: relative;
	z-index: 2;
	background: url("../img/Wmf_logo.png") left 20px top -2px no-repeat;
	background-size: 100px;
}

#content h2,
.imgB {
	color: #4d4d4f;
}

#content h2 {
	margin-bottom: 24px;
}

#displayAmount td {
	padding: 30px 0 20px 0;
}

#nextstep {
	font-weight: normal;
	height: auto;
}

#nextstepc {
	padding-bottom: 60px;
	padding-top: 20px;
	text-align: left;
	font-size: 13px;
}

.footerB, .paySubmit, div.pmOcDetail input[type="submit"] {
	text-shadow: none;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #9b9b9b;
	color: #ffffff;
	padding: 0 30px;
}

.paySubmit:hover, .footerB:hover, div.pmOcDetail input[type="submit"]:hover {
	background-color: #3a8c40 !important;
	color: #ffffff;
	border:  1px solid #3a8c40;
}

.backB {
	background: transparent !important;
	color: #494949;
}

#foot {
	background-color: transparent;
	padding: 0 0 30px 5px;
}

#footc {
	height: auto;
}

#footerb1div {
	float: none;
}

.popupMsg {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	margin-left: 5px;
	margin-right: 0;
	padding: 15px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
}

#content .popupMsg h3 {
	font-size: 14px;
}

.popupMsg img {
	margin-top: 15px;
}

.idealButtonPadding {
	width: 300px;
}

[id*="cclogoTr"] div {
	height: auto !important;
}

[id*="cclogoTr"] div img {
	margin: 0 5px 5px 0;
}

@media only screen and (max-width: 700px) {
	.idealButtonPadding {
		padding-left: 0 !important;
	}

	[data-collapse="collapsed"] {
		height: auto !important;
	}
}